.header_1{width: 98%; height: 35px;margin: 3px 1% 2px; padding: 0 35px;background-color: #a1dbdb;float: right;border-radius: 4px 4px 0 0;}
.header_1_1{margin-top: 5px;float: right;font-size: 18px;}
.header_1_2{margin-top: 6px;float: left;font-size: 18px; font-weight: bold;}
.ul_1{width: 98%;height: 35px; line-height: 35px;margin: 0 1%;padding: 0 22px;text-align: right;background-color: #ebebeb;float: right;}
.ul_1 li{margin-left: 12px;}
/* edit register */
.edit_1{width: 70%; margin: 10px 15% 0;float: right;background-color: #cadad7;text-align: right;}
.edit_2{width: 60%;height: 30px;line-height: 30px;margin: 15px 20% 5px;padding: 0 20px;font-size: 16px;background-color:#ebebeb; float: right;border-radius: 3px;}
.form_edit_register{width: 60%;margin: 0 20% 5px;float: right;background-color:#d7dddc; }
/* modal_edit_register */
.edit_register_modal_6,.edit_register_modal_7,.edit_register_modal_8{width: 100%;  float: right;font-size: 16px;text-align: center;color: #066e06;}
.edit_register_modal_6 i{font-size: 56px; margin: 0;padding: 0;}
.edit_register_modal_8 button{width: 80%; margin-bottom: 10px;}
