
.footer_all{width: 100%; margin:5px 0 0; padding: 6px 12px;background-color: #427095;float: right;text-align: right;}
@media (max-width:600px) {
  .footer_all{padding: 6px 5px;}
}
.footre_head{width: 100%;padding: 0 10px; background-color:#254b6a;border-radius:5px;float: right;}
.footre_head span:first-child{float: right;}
.footre_head span:last-child{float: left;}
.footre_head a{color: #fff; text-decoration: none;}
.footer_matn , .footer_namad , .footer_fatak{width: 100%; float: right; margin: 6px 0 0;padding: 6px 10px; border-radius: 5px; background-color: #254b6a;color: #e2e2e2}
.footer_matn p{text-align: justify;}
.footer_matn a{color: #8c8c8c; font-size: 16px;text-decoration: underline;}
.footer_namad{text-align: center;}
.samandehi{}
.e_namad{}
.footer_fatak{font-size: 12px; padding: 12px 10px 8px;}
.footer_ul{float: right; padding: 0;  margin: 0;}
.footer_ul li{display: inline-block; margin-left: 10px; border-left: 1px solid #e2e2e2;padding-left: 8px;cursor: pointer; }
.footer_ul li:hover{color: #fff;}
.footer_ul li:last-child{border-left: none;}
.footer_fatak span{float: left; background-color: #e2e2e2;line-height: 12px; padding: 3px 14px; border-radius: 8px; text-align: center;}
.footer_fatak i{margin:0 0 0 12px; font-size: 22px; padding: 0;}
.i_pro63_1{color: #0d950f;}
.i_pro63_2{color: #5e95f2;}
.i_pro63_3{color: #9e6624; margin-left: 0;}
.end{width: 100%; float: right; margin: 0; padding: 6px 15px; background-color: #000; color: #d9d7d7;font-size: 12px;text-align: right;}
