/* .container-fluid{padding:0; margin: 0; width: 100%;} */
.div_h0 , .div_h1 ,.div_h2 , .div_h3 ,.div_h4 ,.div_h5,.div_h6 , .div_h7{padding:0;}
.div_h0{margin: 0 0 2px 0; padding: 3px 0 0; border-bottom: 1px solid #d5d5d5; Box-shadow:0 2px 4px   #dbd5d5; }
.div_h1{ padding: 16px 20px 0 0; text-align: right;}
.fatak1{color: #2b317a;}.fatak2{color: #5158b3;}.fatak3{color:#2b317a;}
.h2_h{font-size: 18px; padding: 0; margin: 0;}
.ul_xm_h{}
.ul_xm_h li{font-size: 12px;color: #207baf;margin:0 7px;}
@media (max-width:863px){.div_h1{padding-right: 0; text-align: center;}}
@media (max-width:576px){.div_h1{padding:3px 8px ; text-align: right;}}
@media (max-width:956px){.h2_h{font-size: 16px;}}
@media (max-width:750px){.fatak2{ display:none; }}
@media (max-width:375px){.ul_xm_h{ display: none !important;}}
.div_h3{  margin: 0; padding: 0 4px;}
.div_h4{padding-right: 14px;}
.ul_h1{line-height: 60px; height: 30px;}
.ul_h1 li{font-size: 12px;color: #207baf;margin:0 9px;}
.div_h5 img{ padding: 0;  width:80px ; height:34.5px ;}
@media (max-width:630px){.div_h5 img{   width:70px ; height:30.18px ;}
}
@media (max-width:470px){.div_h5 img{   width:60px ; height:25.86px ;}
}
@media (max-width:350px){.div_h5 img{   width:50px ; height:21.55px ;}
}
@media (max-width:285px){.div_h5 img{   width:35px ; height:18px ;}
}
.div_h7{padding:5px 20px 0; color: #2b317a; }
.h2_h2{ padding: 0; margin: 0;}
.fatak4{color: #5158b3; font-size: 32px;}
@media (max-width:863px){.div_h7{padding-left: 8px;}}
@media (max-width:630px){.h2_h2{ font-size: 24px;} .fatak4{ font-size: 26px;}.div_h7{padding-top: 8px;}}
@media (max-width:576px){.div_h7{padding:2px 0 0 8px;}.h2_h2{ font-size: 18px;} .fatak4{ font-size: 18px;}}

 /* پرچم جستجو سبد خرید */
 .div_h8{padding: 0 5px; }
 .div_menu_sm{width: 50px ;height: 35px; background: #e4e5e6;cursor: pointer;font-size: 22px; line-height: 40px;border:1px solid #d5d2d2; border-radius: 6px;}
 .span_menu{font-size: 18px;display: inline; margin-top: -12px !important; line-height: 35px;}
 .div_menu_sm:hover{background:#ecf0f4; }
 .div_h9{  }
 .div_h9 img{width: 100px; height: 35px; margin: 0 auto;}
 .div_h10{direction: ltr;}
 .search{cursor: pointer;}
 .search i{color: #0a7026}
 .search:hover i{color: #0e42a6}
 .div_h11{text-align: left; padding-left: 3px;}
 .sabad{height: 35px; width: 190px; border: 1px solid #146339; border-radius: 4px; opacity: 0.8; cursor:pointer;float: left;}
 .sabad:hover{opacity: 1;}
 .sabad_s1{background:#146339; width:45px; height:34px; font-size: 20px; color: #fff ; line-height: 40px; align-items:center; text-align: center; display: inline-block; float: right;}
.sabad_s2{float: right; height: 34px; line-height: 33px; font-size: 18px; padding-right: 25px;}
.sabad_s3{background: #e6e6e6; display: inline-block; float: right; margin:5px 10px; height: 22px; width: 24px; border-radius:8px; text-align: center; line-height: 22px; font-size: 18px;}
@media (max-width:640px){.div_h11{ } .sabad{width: 180px;}.div_h9 img{width: 80px; height: 35px; }}
@media (max-width:290px){.div_h11{ } .sabad{width: 130px;}.sabad_s2{font-size: 14px; padding-right: 3px}.sabad_s3{margin:5px 2px;}}
.div_h12{width: 100%; margin: 2px 0;padding: 0 4px; float: right;}
@media(min-width:576px){.div_h12{display: none;}}
.div_h13{width:69%; margin-left: 1%; float: right;}
.div_h14{width: 29%; margin-right: 1%; float: right;}
@media (max-width:370px){.div_h13{width: 98% !important; margin: 0 1%;}.div_h14{display: none;}}

/* منو */
.ul_menu{ width: 100%; height: 35px; line-height: 35px;background-color: #2b4371; margin-top: 3px; text-align: right;}
.ul_menu a{text-decoration: none;}
.ul_menu li{font-size: 14px;color: #eeeeee; border-right: 1px solid #b0aeae;border-bottom: 1px solid #2b4371;padding: 1px 8px 1px 6px;position:relative;cursor: pointer; }
.ul_menu li:hover{color:#ee6557;border-bottom-color: red;}
.ul_menu ul{z-index: 16;background-color:#2b4371;position: absolute;top:26px;right: 0;margin-right: 0;padding:0 3px 2px 0;display:none;border:2px solid #999;}
.ul_menu li li{width:165px;background-color:#DFDFDF;font-size:14px;padding-right:7px;border:1px solid #2b4371;display: block;}
.ul_menu li:hover >ul{display: block ;  }
#fixed{margin-bottom: 2px; z-index: 3;}
.fixed{position: fixed; width: 100%;top: 0; border-top: 1px solid #191174; padding-top: 2px;background-color: #fff; box-shadow:0 1px 5px 1px #000;}
/* ************اسلایدر************ */
.slide{width: 100%;float: right; }



/* *********************************** modals ********************************* */
                /* ******************************************** */
/* مودال ثبت نام */
.modal_h_sabtname_header , .modal_h_login_header{height: 40px; padding: 8px 20px 0 10px;float: right; background-color: #108c3a; color: #0e0ba1;}
.modal_h_sabtname_label i , .modal_h_login_label i{margin-left: 5px;}
.modal_h_login_label i{position: relative; top: 5px;}
.modal_h_sabtname_label_2 , .modal_h_login_label_2{float: left; margin:-22px 0 0 0 !important; color: red; font-size: 32px !important;}
.form_h_sabtname_pro , .form_h_login_pro{width: 100%; margin-top: -10px;float: right;background-color: #f0f0f0; padding: 5px 4px; border-radius: 2px;}
.form_h_sabtname_pro1 {width: 100%; margin:0 0 4px 0;padding: 2px 8px;float: right; background-color: #c9a24c;font-size: 12px; text-align: justify !important;border-radius: 3px;}
.form_h_sabtname_pro1 i {position: relative; top: 1px; margin-left: 4px;color: #c1007a;}
.form_h_sabtname_pro > .form-group , .form_h_login_pro > .form-group{width: 100%; margin-bottom: 4px;float: right; background-color: #c8d2d7;border-radius: 3px;}
.form_h_sabtname_pro > .form-group label ,.form_h_login_pro > .form-group label{width: 35%;position: relative; top:8px; padding-right: 16px; text-align: right;float: right;}
.div_h_sabtname ,.div_h_login {width: 65%; float: right;padding: 2px;}
.div_h_sabtname input ,.div_h_login input {width: 100%; float: right; }

.i_name_sabt ,.i_namekarbary_sabt , .i_pas_sabt , .i_mobail_sabt , .i_email_sabt , .i_amniat_sabt{position: relative; margin-left: 10px;}
.captcha_h_sabtname_form , .captcha_h_login_form{width: 65%; float: left; text-align: center;}
.captcha_h_sabtname_form span ,.captcha_h_login_form span{display: inline-block;height: 38px;background-color: #829077; padding: 1px;}
.captcha_h_sabtname_form button ,.captcha_h_login_form button{padding: 4px; background-color: #6da7e0;}
.captcha_h_sabtname_form i ,.captcha_h_login_form i{position: relative;top: 3px;font-size: 20px;}
.modal-footer-h-sabtname ,.modal-footer-h-login {width: 100%; float: right; margin: 3px 0 4px; padding:6px 36px 4px;border-top: 1px outset #f2f1f1; }
.modal-footer-h-sabtname button:first-child ,.modal-footer-h-login button:first-child{ width: auto; height: auto;padding: 5px 30px;float: right;}
.modal-footer-h-sabtname button:last-child ,.modal-footer-h-login button:last-child{ width: auto; height: auto;padding: 5px 20px;float: left;}
.modal-footer-h-login button:last-child{background-color: red;}
@media(max-width:435px){
  .form_h_sabtname_pro > .form-group ,.form_h_login_pro > .form-group{background-color: inherit; margin-top: -4px; padding: 0;}
  .form_h_sabtname_pro >.form-group label , .form_h_login_pro >.form-group label{width: 125px;  background-color: #ced4d9; border-radius: 4px 4px 0 0;}
  .form_h_sabtname_pro > .form-group input , .form_h_login_pro > .form-group input{width: 100%;height: 32px ;float: right;}
  .i_name_sabt , .i_namekarbary_sabt , .i_pas_sabt , .i_mobail_sabt , .i_email_sabt , .i_amniat_sabt{ margin-left: 4px;}
  .div_h_sabtname , .div_h_login{width: 100%; float: right;background-color: #ced4d9; padding: 2px 1px; border-radius: 3px 0 3px 3px;}
  .captcha_h_sabtname_form , .captcha_h_login_form{width: 100%;}

}
@media (max-width:255px){
  .modal-footer-h-sabtname button:first-child , .modal-footer-h-login button:first-child{ padding: 3px 10px; margin: 1px 0;float: right;}
  .modal-footer-h-sabtname button:last-child ,  .modal-footer-h-login button:last-child{  padding: 3px 10px; margin: 1px 0;float: left;}
}
.Forget_h_login{border-top: 1px solid #6e4e2d;}
.Forget_h_login,  .new_sabt_h_login{width: 100%; float: right; padding: 5px 18px 0 0; color: #2d6fa4; text-decoration: underline; cursor: pointer; text-align: right;}
.new_sabt_h_login{margin-bottom: 10px;}
@media (max-width:300px) {
  .Forget_h_login,  .new_sabt_h_login{font-size: 12px;}
}
/* ******* درباره ما ******* */
.modal_body_h_about , .modal_body_h_contact{width: 100%; float: right; padding: 10px 15px; background-color: #d4d4d4;}
.label_about , .label_contact{width: 48%; height: 35px; line-height: 35px;text-align: right;float:right;padding: 0 20px; margin:4px 1%; background-color: #fff;border-radius: 2px;}
.label2_about , .label3_about , .label2_contact , .label3_contact{width: 50%; float: right;}
.label2_about i , .label2_contact i{position: relative; margin-left: 6px; top: 2px; color: #3a7c94}
@media (max-width:991px) {
  .modal_body_h_about, .modal_body_h_contact{padding: 10px 5px;}
  .label_about, .label_contact{width: 49%; margin: 4px 0.5%; padding: 0 15px;}
  .label_contact_email , .label_contact_address{width:99%; margin: 4px 0.5%;}
}
@media (max-width:500px) {
  .label_about, .label_contact{width: 100%; margin: 2px 0; padding: 0 15px;height: 29px; line-height: 29px;}
  .label2_about , .label2_contact{width: 40%; }
  .label3_about , .label3_contact{width: 60%; }
}
@media (max-width:325px) {
  .label_about, .label_contact{ height: auto; padding: 3px 4px;}
  .label2_about, .label2_contact{width: 110px;height: 20px; line-height: 20px;background-color: #dbdbdb; padding-right: 4px; border-radius: 3px 3px 0 0; border-bottom: 1px dotted #b8b4b4;}
  .label3_about, .label3_contact{width: 100%;height: 23px; line-height: 23px; background-color: #dbdbdb; padding: 0 26px 0 0; border-radius: 3px 0 3px 3px;}
}
.matn_about {width: 98%;margin: 5px 1%; padding:12px 12px 7px;background-color:#fff; border-radius: 3px;text-align: right;float: right;}
.matn_about1{padding:0 10px; color: #04699a; background-color: #e8ebee;border-radius: 3px;}
.matn_about2{padding:5px 10px 0;text-align: justify;}
@media (max-width:991px) {
  .matn_about{width: 99%;margin: 5px 0.5%;}
}
@media (max-width:320px) {
  .matn_about {padding: 6px 2px;}
  .matn_about1 , .matn_about2{padding-right:5px; padding-left: 5px;}

}
.froosh_about , .froosh_contact{width: 98%; margin: 5px 1%; padding: 5px 12px;float: right; background-color: #fff; border:2px solid #04699a; color:#3e65ee;border-radius: 4px;text-align: right; text-decoration: underline; cursor: pointer;}
.froosh_about:hover, .froosh_contact:hover{background-color: #eeeeee; text-decoration: none;}
@media (max-width:991px) {
  .froosh_about, .froosh_contact{width: 99%;margin: 5px 0.5%;}
}
.modal_ghanon{width: 100% ; padding: 6px 12px; background-color: #d2d2d2; border-radius: 4px;}
.modal_ghanon ol{padding: 0;}
.modal_ghanon li{padding: 0 12px; background-color: #fff; margin-top: 5px;border-radius: 3px;text-align: right;  list-style-position: inside;}
/* ******************* menu_mobail***************** */
.menu_mobail_1{width: 100%; height: 100%; display: none;position: fixed; opacity: 0.6;top: 0; background-color: #000; z-index: 33300}
.menu_mobail_2{z-index: 33501; float: right;width: 200px; height: 100%;background-color: #f2f2f2;position: fixed; top: 0; overflow: auto;right: -200px;text-align: right;}
.close_menu_mobail{width: 100%; height: 29px; line-height: 29px;padding: 0 7px 0 10px; margin: 5px 0 ;float: right;background-color: #dadada;}
.close_menu_mobail span{float: right;}
.close_menu_mobail button{ float: left; background-color: inherit; border: none; cursor: pointer;font-size: 32px; color: #f60404; }
.menu_mobail_2 i{position: relative; margin-left: 9px; top: 2px;}
.menu_mobail_2 ul{position: relative; float: right;}

.show_menu_mobail_1{display: block;}
.show_menu_mobail_2{right: 0; transition: right 0.5s ease-in-out;}
@media (max-width:575px) {
.hide_overflow{overflow: hidden;}/*جهت پنهان کردن اسکرول تگ بادی */
}

.menu_mobail_ul{width: 100%;padding: 0; background-color: #e8e8e8;}
.menu_mobail_ul a{text-decoration: none;}
.menu_mobail_ul li{width: 100%;list-style: none; color: #05609a;border-bottom: 1px solid #d0d0d0; padding:6px 7px 3px 6px;float: right;cursor: pointer; }
.menu_mobail_ul li:hover{ background-color:#c9c9c9;color: #033f63; }
.menu_mobail_ul li span{float: right;}
.menu_mobail_ul li img{float: left;position: relative;top: 8px;}
.menu_mobail_ul li > ul{width: 100%;padding: 0;display: none;background-color: #f5f5f5; float: right; }
.menu_mobail_ul li > ul li:hover{background-color:#e2e2e2;  }
@media (min-width:576px) {
.menu_mobail_1 , .menu_mobail_2{display: none;}

}
