*{
   @font-face {
  font-family: 'b koodak';
  src: url('../../fatak -font/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
       url('../../fatak -font/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../../fatak -font/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
 font-family: 'b yekan';
  src: url('../../fatak -font/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('../../fatak -font/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../../fatak -font/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */

}
}
/* *{
  box-sizing: border-box;
} */
h1,h2,h3,h4,h5,h6{margin: 0;}
.number{font-family:'b yekan'; }
.tahoma{font-family: Tahoma;}
a{cursor: pointer;}
.a{text-decoration: none; color: inherit;}
.kama{ font-family:Tahoma, Geneva, sans-serif ; color:#000}
.br{margin-bottom: 15px;}
body{font-family: "b koodak", Arial, Helvetica, sans-serif;
direction:rtl;

width: 100%;
}
.gif_loding{width: 250px;position: fixed; margin: 100px 0 0 0; z-index: 3000;  opacity: 0.9; display: none;}
.all_khat{width: 100%;  }
.khat1  , .khat3 {width: 100%; border: 1px solid ;}
.khat1{border-color: #348c07;}
.khat2{border-color: #fff; height: 1px;}
.khat3{border-color: #ec5046;}
.ul_line{margin: 0; padding: 0;}
.ul_line li{
display:inline;
}
/* ul right منو سمت راست سایت جهت پنل ها */
.ul_right{width: 100%;padding: 0; background-color: #e8e8e8;}
.ul_right a{text-decoration: none;}
.ul_right li{width: 100%;list-style: none; color: #05609a;border-bottom: 1px solid #d0d0d0; padding:6px 7px 3px 6px;float: right;cursor: pointer; }
.ul_right li:hover{ background-color:#c9c9c9;color: #033f63; }
.ul_right li span{float: right;}
.ul_right li img{float: left;position: relative;top: 8px;}
.ul_right li > ul{width: 100%;padding: 0;display: none;background-color: #f5f5f5; float: right; }
.ul_right li > ul li:hover{background-color:#e2e2e2;  }
.row{padding: 0; margin: 0;}
/* جستجو */
.search_all{width: 100%;float: right; margin-top: 22px;}
.search_body{width: 100%; padding: 0 4px 6px;float: right;text-align: right;background-color: #e1ecee;border: 1px solid #105807; border-radius: 4px;}
.search_titr{width: 200px; height: 33px; line-height: 30px; padding-right: 30px;font-size: 18px; color: #ededed;float: right; background-color:#105807; border-radius: 4px; position: relative; right: 10px; top: -19px;}
.empty_record{float: right; color: #9d2727; padding-right: 15px;}
/* carsol_pro_ess */
.carsol_pro_ess{width: 100%; margin: 5px 0; float: right;}
/* اخطار فیلذهای فرم */
#alarm_red{width: 100%; margin: 2px 0 4px; padding: 5px 4px; text-align: center; color: #b80f19; border: 2px solid #b80f19; border-radius: 4px; font-size: 16px;float: right; background-color: #fff;}
#alarm_green{width: 100%; margin: 2px 0 4px; padding: 5px 4px; text-align: center; color: #01622b; border: 2px solid #01622b; border-radius: 4px; font-size: 16px;float: right; background-color: #fff;}
/* استالهای شهر و استان */
.cityOff{display: none;}
.cityShow{display: block; color: #020647}
/* استایل فرم */
.div_alert{width: 100%;margin: 10px 0;float: right;}
.form{width: 100%;padding: 5px 7px;float: right;both;background-color: #e8e6e6; border-radius: 2px;}

.form_warn ,.form_titr {width: 100%; margin:0 0 4px 0;padding: 2px 8px;float: right;  text-align: justify !important;border-radius: 3px;}
.form_titr{background-color: #4dabc9;font-size: 18px;color: #fff;font-size: 18px;}
@media (max-width:250px) {.form_titr{font-size: 16px;}}

.form_warn{background-color: #c9a24c;font-size: 12px;}
.form_warn i , .form_titr i {position: relative; top: 1px; margin-left: 7px;}
.form_titr i{color: #c7f0a8;}
.form_warn i{color: #c1007a;}
.star_form{color: #820000;font-size: 6px;position: relative;top: -5px;right: -3px;}
.form > .form-group{width: 100%; margin-bottom: 4px;float: right; background-color: #c8d2d7;border-radius: 3px;}
.form > .form-group label{width: 35%;position: relative; top:8px; padding-right: 16px; text-align: right;float: right;}
.div_form {width: 65%; float: right;padding: 2px;}
.div_form input{width: 100%; float: right; }
.div_formTextarea {width: 100%; float: right;background-color: #ced4d9; padding: 2px 1px; border-radius: 3px 0 3px 3px;}
.div_formTextarea textarea {width: 100%;float: right;}
.formGroupCity{width: 49%;padding: 2px;margin:0 0.5%;float: right;}
/* .labelCity{width: 40% !important; float: right;} */
.div_formCity{width: 60%;float: right;text-align: center;}
.div_formCity select{width: 100%;}
.select{width: 100%;}
.div_form_checkbox{width: 60%;height: 40px;float: right;}
.div_form_checkbox input{width: 26px;position: relative;top: 13px;}
.div_form_radio1{width: 65%; float: right;padding: 2px;}
.div_form_radio2{width: calc(50% - 1px);height: 40px;margin: 0 0.5px;float: right;background-color: #fff;border-radius: 3px;}
.div_form_radio2 label{width: 80% !important;}
.div_form_radio2 input{margin-top: 10px !important;}
.i_rahnama{cursor: pointer;}
.i_rahnama:hover{color: #414141;}
.i_form{position: relative; margin-left: 10px;}
.captcha_form {width: 65%; float: left; text-align: center;}
.captcha_form span {display: inline-block;height: 38px;background-color: #829077; padding: 1px;}
.captcha_form button {padding: 4px; background-color: #6da7e0;}
.captcha_form i {position: relative;top: 3px;font-size: 20px;}
.form_btn{text-align: center;margin-top: 5px; padding: 4px 3px;}
.form_btn button {width: 160px;font-size: 18px;}
.ajax_form{width: 99%;margin: 0 0.5%;float: right;text-align: center;}
.ajax_form_modal{width: 100%;margin: 5px 0;float: right;text-align: center;}

/* آپلود عکس تگ پنهان */
.imgHidden{  width: 1px;height: 1px; overflow: hidden;font-size: 1px; color:#ffffff; background-color: #ffffff;}
@media(max-width:440px){
  .form_titr{font-size: 14px;}
  .form > .form-group {background-color: inherit; margin-top: -4px; padding: 0;}
  .form >.form-group label {width: 185px;  background-color: #ced4d9; border-radius: 4px 4px 0 0;}
  .form > .form-group input{width: 100%;height: 32px ;float: right;}
  .i_form{ margin-left: 4px;}
  .div_form {width: 100%; float: right;background-color: #ced4d9; padding: 2px 1px; border-radius: 3px 0 3px 3px;}
  .div_formTextarea textarea {height: 100px;}
  .formGroupCity{width: 100%;padding: 2px;margin:0 ;}
  .div_formCity{width: 100%;}
  .div_form_checkbox , .div_form_radio1{width: 100%;background-color: #c8d2d7;border-radius: 3px 0 3px 3px;}
  .div_form_radio2{height: auto;}
  .div_form_radio2 label{width: 80% !important; background-color: #fff !important;}
  .div_form_radio2 input{width: 20% !important;margin-top: 5px !important;}
  .div_form_checkbox input{top: 5px;}
  .captcha_form {width: 100%;margin-bottom: 10px; }
  .form_btn button{margin: 6px 0;}
}
@media(max-width:280px){
  .div_form_radio2 label{width: 100% !important; background-color: #fff !important;}
  .div_form_radio2 input{width:100% !important;margin-top: -5px !important;}
}
/* modal_ok */
.modal_ok1,.modal_ok2,.modal_ok3{width: 100%;  float: right;font-size: 16px;text-align: center;color: #066e06;}
.modal_ok1 i{font-size: 56px; margin: 0;padding: 0;}
.modal_ok3 button{width: 80%; margin-bottom: 10px;}
/* ******************* ساخت منو کنار باز شونده جهت موبایل***************** */
.menu_small_1{width: 100%; height: 100%; display: none;position: fixed; opacity: 0.6;top: 0; background-color: #000; z-index: 33300}
.menu_small_2{z-index: 33501; float: right;width: 200px; height: 100%;background-color: #f2f2f2;position: fixed; top: 0; overflow: auto;right: -200px;text-align: right;}
.close_menu_small{width: 100%; height: 29px; line-height: 29px;padding: 0 7px 0 10px; margin: 5px 0 ;float: right;background-color: #dadada;}
.close_menu_small span{float: right;}
.close_menu_small button{ float: left; background-color: inherit; border: none; cursor: pointer;font-size: 32px; color: #f60404; }
.menu_small_2 i{position: relative; margin-left: 9px; top: 2px;}
.menu_small_2 ul{position: relative; float: right;}

.show_menu_small_1{display: block;}
.show_menu_small_2{right: 0; transition: right 0.5s ease-in-out;}
/*نکته نکته */
/* جهت پنهان کردن اسکرول تگ بادی هنگامی که کاربر دکمه منو را فشار می دهد
باید در فایل سی اس اس مربوط به فایل پی اچ پی کد زیر را کپی کرده و اندازه پیکسل
ماکزیمم و اختصاص نام یک کلاس را وارد کنیم ، سپس از همین نام کلاس به عنوان پارامتر
در تابع های شو و هیدن مربوطه استفاده نماییم */
/* @media (max-width:myPx) {
.myClass{overflow: hidden;}
} */
.menu_small_ul{width: 100%;padding: 0; background-color: #e8e8e8;}
.menu_small_ul a{text-decoration: none;}
.menu_small_ul li{width: 100%;list-style: none; color: #05609a;border-bottom: 1px solid #d0d0d0; padding:6px 7px 3px 6px;float: right;cursor: pointer; }
.menu_small_ul li:hover{ background-color:#c9c9c9;color: #033f63; }
.menu_small_ul li span{float: right;}
.menu_small_ul li img{float: left;position: relative;top: 8px;}
.menu_small_ul li > ul{width: 100%;padding: 0;display: none;background-color: #f5f5f5; float: right; }
.menu_small_ul li > ul li:hover{background-color:#e2e2e2;  }
/* نکته نکته */
/* بجای کلاسهای زیر با ید کلاسهای خود را وارد نمایم و همچنین در فایل
پی اچ پی در کنار کلاسهای زیر کلاس خودمان را به المنت اضافه نماییم */
/* @media (min-width:myPx) {
.menu_small_1 , .menu_small_2{display: none;}
} */

.div_search_c{width: 100%;margin: 2px 0;padding: 0;float: right;}
.btn_search_c{height: 32px;line-height: 20px;float: right;margin: 3px 0 0 3px;padding: 0 7px;background-color: #afcbe3;}
.div_search_form_date_c{height:32px;line-height:30px;margin: 3px 0 0 3px;float: right;padding: 0 3px;border: 1px solid #bababa; background-color: #d0d0d0;border-radius: 4px;}
.div_search_form_date_c2{margin: 3px 0 0 3px;float: right;padding: 0 3px;border: 1px solid #bababa; background-color: #d0d0d0;border-radius: 4px;}
.div_search_c2{height:30px;line-height:29px; margin-right: 3px;float: right;text-align: right;}
.input_date_c{height: 26px;text-align: center;border-radius: 3px;border: none;}
.input_pro_date_c{width: 115px;}
.input_code_date_c{width: 70px;}
.input_day_date_c{width: 30px;}
.input_month_date_c{width:30px;}
.input_year_date_c{width:45px;}
.btn_date_c{height: 26px;margin-top: 2px;padding: 0 4px;background-color: #afcbe3;}
.btn_date_c i{position: relative;top: 3px;color: #09497e;}
/* .div_search_form_date2{height:36px;line-height:36px;margin: 3px 0 0 3px;float: right;padding: 0 3px;border: 1px solid #bababa; background-color: #d0d0d0;border-radius: 4px;} */
.select_search_date_c{margin-left: 15px;float: right;}
.div_map_c{width: 100%;margin: 0 0 5px;padding: 3px 6px;  text-align: right;float: right;background-color: #d0e8bb; color:#112103; border-radius: 4px;font-size: 14px;}

@media(max-width:375px){
  .div_search_c,.btn_search_c,.div_map_c{font-size: 12px;}
  .btn_search_c{padding: 0 5px;}
  .input_pro_date_c{width: 105px;}
  .div_search_form_date_c2{width: 195px;}
  .div_search_c2{width: 100%;}
  .div_search_c2 span{display: inline-block;width: 40px;text-align: center;}
  .div_search_c2 select{width: 145px;}
}
