/* **************************************** */
/* *********** showOneOrder.php *********** */
/* 1200 , 992 , 768 , 576 , 454 , 332 */
.bodyShowPro{width: 100%;margin: 5px 0;padding: 3px;float: right;border: 1px solid #e4e4e4;border-radius: 3px;}
.titrShowPro{width: 100%;height: 40px;line-height: 40px;margin:0 0 2px;padding:0 3px;float: right;background-color:#ededed; border-radius: 3px;}
.titrShowPro h1{position: relative;top: 6px;right: 4px;display: inline-block;float: right;font-size: 22px;}
.amarTiterSP{height: 27px;line-height: 27px;margin-top: 6.5px;padding: 0 5px;display: inline-block;float: left;border: 1px solid #dfdfdf;border-radius: 10px; background-color: #fff;color: #3c3c3c;font-size: 12px;}
.amarTiterSP span:last-child{padding-right: 1px;border-right: 1px solid #d2cccc;}
.amarTiterSP i{position: relative;top: 2px;right: 1px;left: 1px;font-size: 14px;}
.contentShowPro{width: 100%;float: right;}
.upContentSP{width: 100%;height: 606px;margin: 2px 0 ;float: right;}
.imgUpContentSP{width: 63%;height: 606px;float: right;}
.bigImgUpCSP{width: 100%;height: 510px;padding: 5px;float: right;border:1px solid #dbdbdb ;border-radius:3px 3px 0 0; background: #f6f6f6;text-align: center;}
.bigImgUpCSP img{max-width: 100%;max-height: 100%;}
.big_img_pro{display: none;}
.active_img_pro{display: block; }
.smallImgUpCSP{width: 100%;height: 96px;padding:2px 0;float: right;border:1px solid #dbdbdb ;border-radius:0 0 3px 3px ;background: #fff;direction:ltr;}
.smallImgSlickAll{width:calc(100% - 60px);height:90px;margin:0 30px;padding:0 2px;float: right;}
.smallImgSlickOne{width: 100px;height: 90px;line-height: 87px;text-align: center;margin: 0 3px;padding: 2px;background-color: #ececec;}
.smallImgSlickOne img{max-width: 100%;max-height: 100%;display: inline;cursor: pointer;}
.infoUpContentSP{width: 37%;height: 606px;padding: 5px 6px;border: 1px solid #dbdbdb ;border-radius:3px; float: right;text-align: right;}
.oldPriceIUCSP{width: 100%;margin: 20px 0 0; float: right;}
  .oldPriceIUCSP_S1{color: #9e2d14;text-decoration: line-through;font-size: 14px;}
  .oldPriceIUCSP_S2{font-size: 14px;margin-right: 5px;}
  .oldPriceIUCSP_S3{padding: 5px;height: 20px;line-height: 12px;position: relative;top: 2px;background-color: #4d8505;color: #fff;border-radius: 3px;display: inline-block;text-align: center;direction: ltr;}
.priceIUCSP{width: 100%;margin: 15px 0 0;padding:5px 6px; border-radius: 2px;float: right;background-color: #d8f9e5;}
  .priceIUCSP_s1{color: #054d75;font-size: 22px;}
  .priceIUCSP_s1_tk{font-size: 10px;}
  .priceIUCSP_s2{color: #030342;font-size: 30px;}
  .priceIUCSP_s3{color: #054d75;font-size: 22px;}
  .priceIUCSP_prime{width: 100%;float: right;font-size: 16px;color: #054d75;text-decoration: line-through;}
.divBtnKharid{width: 170px; margin: 35px calc((100% - 170px) / 2) 20px;padding: 2px;border-radius: 10px;font-size: 22px;float: right;background-color: #119612; color: #fff;box-shadow: 0 1px 7px 4px  #8fd989;cursor: pointer;text-align: center;}
.divBtnKharid i{position: relative;top: 3px; left: 6px;}
.divBtnKharid:hover{background-color:#fff; color:#119612; }
.addSeller , .addChannel{width: 100%;margin: 5px 0 0;float: right;}
.addSeller{border-top: 1px solid #cfcfcf;padding-top: 25px;}
.addChannel{border-bottom: 1px solid #cfcfcf;padding-bottom: 25px;}
.addSeller span ,.addChannel span{padding: 3px 8px 0;display: inline-block;border: 1px solid #165b94;background-color: #b7daec;color:  #085398;border-radius: 5px;cursor: pointer;font-size: 14px;text-align: center;}
.addSeller span{padding: 6px 8px;}
.addSeller span:hover ,.addChannel span:hover{background-color: #4aa8d6; color:#fff;}
.addSeller_i,.addChannel_i1{position: relative;top: 2px;left: 3px;color: #858687;}
.addChannel_whatsapp{color: #0d950f; margin-left: 4px;}
.addChannel_telegram{color: #5e95f2;margin-left: 4px;}
.addChannel_instagram{color: #9e6624;margin-left:4px; }
.addChannel_point{position: relative; top: -5px;}
.sharingIUCSP{width: 100%;margin: 30px 0;float: right;font-size: 22px;}
.share_pro{margin:0 5px 0 7px;}
.twit_pro{margin-left: 7px; color: #3f11d2;}
.goo_pro{margin-left: 7px; color:#e72a2a;}
.face_pro{margin-left: 7px;color:#0339c3; }
.sellerIUCSP{width: 100%;padding: 2px 6px;border-radius: 2px;float:right;background-color: #dbedf0;}
.sellerIUCSP_s2{margin: 0 5px 0 0; position: relative; top: 1px; color: #0489cb; font-size: 16px; }
.downContentSP{width: 100%;margin: 3px 0 0;padding: 5px 0;float: right;border-top: 7px solid #ededed;}
.Explain_ul{width: 100%;float: right; padding: 0 0 2px; margin: 0; text-align: right;border-bottom: 1px solid #000;}
.Explain_ul li{min-width: 145px; height: 50px;line-height: 47px;padding: 0 15px;display: inline-block; border-bottom: 6px solid #cbcbcb;background-color: #f5f5f5 ; text-align: center; font-size: 22px; color: #74757e; cursor: pointer;}
li.Explain_active{border-bottom: 6px solid #03695c;border-left: none;color:#03695c !important; background-color: #e1eee5;}
.Explain_ul li i{position: relative; left: 8px;}
.Explain_li3 i{top: 3px;}
.Explain_body{width: 100%;margin: 3px 0 3px;padding: 3px 6px;border: 1px solid #dbdbdb;border-radius:3px;float: right;text-align: right;}
.Explain_titr{width: 100%;padding: 2px 6px; margin-bottom: 3px; background-color:#e8e5e5 ; border: 1px solid #c6c6c6;color: #5e5e5e;border-radius: 3px;float:right;font-size: 20px;}
.Explain_matn{width: 100%;padding: 2px 6px;margin-bottom: 5px;background-color: #f6f6f6;color: #424242;border-radius: 3px;float: right;font-size: 14px;}
.disSeller_titr{width: 100%;margin-top: 8px;padding: 3px;float: right;background-color: #b9d4da;color:#38484b;border: 1px solid #637679;border-radius: 3px;}
.disSeller_matn{width: 100%;margin-top: 5px;padding: 3px;float: right;background-color: #f2fdff;border-radius: 3px;}
.Explain_line{width: 100%;margin: 3px 0;border: 3px solid #adadad;border-radius: 3px;float: right;}
.explain_row{width: calc(50% - 4px);margin: 2px 2px;float: right;background-color: #dae0e6;border-radius: 3px;}
.explain_row div:first-child{width: 110px;height: 46px;line-height: 46px;padding: 0 6px 0 0;float: right;background-color: #d1dbe4;font-size: 16px;border-radius: 0 3px 3px 0;}
  .explain_row div:first-child span{font-size: 12px;color: #79000f;}
.explain_row div:last-child{width: calc(100% - 115px);height: 46px;line-height: 46px;padding: 0 6px;float: right;}
.explain_row2{width: calc(100% - 4px);margin: 2px 2px;float: right;background-color: #dae0e6;border-radius: 3px;}
.explain_row2 div:first-child{width: 100%;height: 20px; line-height: 20px;padding: 0 6px ;float: right;background-color: #d1dbe4;font-size: 16px;border-radius: 3px 3px 0 0;}
.explain_row2 div:last-child{width: 100%;height: auto;min-height: 26px;line-height: 22px;padding:6px ;float: right;font-size: 14px;text-align: justify;}
.question_explain_p,.question_explain_p2{width: 73%; margin: 1px 15%; padding: 0 10px 0 3px;float: right;text-align: justify;border: 1px solid #ecdfe4; border-radius: 4px;}
.question_explain_p i{position: relative;margin-left: 6px;margin-right: -10px;top: 2px;right: 2px;color: #369034; font-size: 16px;}
.question_explain_danger{width: 73%; margin: 2px 15%; padding: 0 10px 0 3px;float: right;text-align: justify;}
.question_explain_p2{margin: 5px 15%;text-align: right;}
.question_explain_p2 span:first-child{color:#0e4400;}
.question_explain_p2 span:last-child{margin-right: 15px;font-size: 16px;color:#022553; }
@media (max-width:1200px) {
  .upContentSP{height: 506px;}
  .imgUpContentSP{width: 62%;height: 506px;}
  .bigImgUpCSP{height: 420px;}
  .smallImgUpCSP{height: 86px;}
  .smallImgSlickAll{height:80px;}
  .smallImgSlickOne{height:80px;line-height: 77px;}
  .infoUpContentSP{width: 38%;height: 506px;}
  .Explain_ul li{min-width: 145px; height: 45px;line-height: 42px;padding: 0 15px;font-size: 20px;}
}
@media (max-width:992px) {
  .upContentSP{height: 474px;}
  .imgUpContentSP{width: 59%;height: 474px;}
  .bigImgUpCSP{height: 385px;}
  .smallImgUpCSP{height: 89px;}
  .smallImgSlickAll{height: 81px;}
  .smallImgSlickOne{height: 81px;line-height: 78px;}
  .infoUpContentSP{width: 41%;height: 474px;}
  .oldPriceIUCSP{margin: 15px 0 0;}
  .priceIUCSP_s1{font-size: 18px;}
  .priceIUCSP_s2{font-size: 24px;}
  .priceIUCSP_s3{font-size: 18px;}
  .divBtnKharid{ margin: 25px calc((100% - 170px) / 2) 15px;}
  .sharingIUCSP{margin: 30px 0 20px;}
}
@media (max-width:768px) {
  .upContentSP{height: 374px;}
  .imgUpContentSP{width: 52%;height: 374px;}
  .bigImgUpCSP{height: 287px;}
  .smallImgUpCSP{height: 87px;}
  .smallImgSlickAll{height: 78px;}
  .smallImgSlickOne{width: 90px;height: 78px;line-height: 75px;}
  .infoUpContentSP{width: 48%;height: 374px;padding: 4px 3px;}
  .oldPriceIUCSP{margin:0;}
  .priceIUCSP{margin:5px 0 0;padding:4px 3px; }
  .priceIUCSP_s1{font-size: 16px;}
  .priceIUCSP_s2{font-size: 20px;}
  .priceIUCSP_s3{font-size: 14px;}
  .divBtnKharid{margin: 20px calc((100% - 170px) / 2) 15px;}
  .addSeller{padding-top: 10px;}
  .addChannel{padding-bottom: 10px;}
  .addSeller span , .addChannel span{font-size: 12px;}
  .sharingIUCSP{margin: 20px 0 10px;}
  .Explain_ul li{ height: 40px;line-height: 36px;padding: 0 15px;font-size: 20px;}
  .Explain_titr{padding: 1px 6px; font-size: 18px;}
  .explain_row div:first-child , .explain_row div:last-child{height: 40px; line-height: 40px;}
  .explain_row2 div:last-child{min-height: 14px;font-size: 12px;}
  .Explain_matn{ font-size: 12px;}
  .question_explain_p,.question_explain_p2{width: 100%; margin: 1px 0; }
  .question_explain_danger{width: 100%; margin: 2px 0; padding: 0 3px;}
}
@media (max-width:576px) {
  .upContentSP{height: auto;}
  .imgUpContentSP{width: 100%;}
  .infoUpContentSP{width: 100%;height: auto;}
  .priceIUCSP{padding:4px 3px; }
  .priceIUCSP_s1{font-size: 16px;}
  .priceIUCSP_s2{font-size: 20px;}
  .priceIUCSP_s3{font-size: 14px;}
  .divBtnKharid{margin: 15px calc((100% - 170px) / 2) 10px;}
  .sharingIUCSP{margin: 10px 0 5px;}
  .Explain_ul li{min-width: 110px;height: 33px;line-height: 28px;margin-top: 2px;padding: 0 4px 0 3px;font-size: 18px;}
  .Explain_ul li i{position: relative; left: 2px;font-size: 16px;}
  .Explain_titr{ font-size: 16px;}
  .Explain_body{width: 100%;padding: 3px 3px;}
  .explain_row div:first-child , .explain_row div:last-child{height: 30px; line-height: 30px;}
  .explain_row div:first-child{width: 82px;font-size: 14px;}
  .explain_row div:last-child{width:calc(100% - 82px);}
  .explain_row2 div:first-child{font-size: 14px;}
  .explain_row2 div:last-child{min-height: 10px;}
}
@media (max-width:454px) {
  .imgUpContentSP{width: 100%;height: 321px;}
  .bigImgUpCSP{height: 245px;}
  .smallImgUpCSP{height: 76px;}
  .smallImgSlickAll{height: 70px;}
  .smallImgSlickOne{width: 88px;height: 70px;line-height: 67px;}
  .Explain_ul li{min-width: 99px;height: 29px;line-height: 25px;padding: 0 3px 0 2px;font-size: 16px;}
  .Explain_ul li i{position: relative; left: 1px;font-size: 14px;}
  .Explain_titr{ font-size: 14px;}
  .explain_row div:first-child , .explain_row div:last-child{width: 100%;}
  .explain_row div:first-child{height: 20px;line-height: 20px;border-radius: 3px 3px 0 0;}
  .explain_row div:last-child{height: auto;min-height: 10px;}

}
@media (max-width:332px) {
  .titrShowPro{height: 30px;line-height: 30px;}
  .titrShowPro h1{top: 4px;right: 2px; font-size: 18px;}
  .amarTiterSP{height: 24px;line-height: 24px;margin-top: 3px;padding: 0 3px;border-radius: 10px; font-size: 10px;}
  .amarTiterSP i{top: 2px;right: 1px;left: 1px;font-size: 12px;}
  .amarTiterSP span:last-child{display: none;}
  .imgUpContentSP{height: 276px;}
  .bigImgUpCSP{height: 205px;line-height: 205px;}
  .smallImgUpCSP{height: 71px;}
  .smallImgSlickAll{width:calc(100% - 40px);height: 65px;margin:0 20px;}
  .smallImgSlickOne{width: 83px;height: 65px;line-height: 62px;}
  .oldPriceIUCSP_S1{font-size: 12px;}
  .oldPriceIUCSP_S2{font-size: 12px;}
  .oldPriceIUCSP_S3{padding: 5px;height: 15px;line-height: 7px;top: 2px;font-size: 12px;}
  .priceIUCSP_prime{font-size: 12px;}
  .priceIUCSP_s1{font-size: 14px;}
  .priceIUCSP_s2{font-size: 16px;}
  .priceIUCSP_s3{font-size: 12px;}
  .addSeller span , .addChannel span{padding: 3px 5px;}
  .Explain_ul li{min-width: 70px;height: 29px;line-height: 25px;padding: 0 3px 0 2px; border-bottom-width: 4px;font-size: 14px;}
  .Explain_ul li i{position: relative; left: 1px;font-size: 12px;}
  .explain_row{width: calc(50% - 2px); margin: 2px 1px;}

}
