/* مشترک */
.headerOrder{width: 99%;height: 45px;line-height: 45px;padding: 0 15px;margin: 1px 0.5% 2px;border-radius: 3px;background-color: #226895;float: right;}
.headerOrder_1,.headerOrder_2,.headerOrder_3{width: 33%;float: right;color: #fff;}
.headerOrder_1{text-align: right;}
.headerOrder_2{text-align: center;line-height: 25px;}
.headerOrder_3{}
.headerOrder_3 span{width: 100%;height: 20px;float: right; }
.headerOrder_3 a{color: #fff;}
.headerOrder_3 span:last-child{font-size: 12px;margin-right: 8px;line-height: 28px;}
.headerOrderUl{width: 99%; height: 40px;line-height: 40px;padding: 0 15px;margin: 1px 0.5% 2px;background-color: #d9d9d9;border-radius: 3px;float: right;text-align: right;}
.headerOrderUl li{padding:0 8px; border-left: 1px solid ;color: #383838;}
.contentOrder{width: 99%; margin: 3px 0.5%; background-color:#fff;float: right;border-radius: 3px;}
.mapOrder{width: 99%;height: 30px;line-height: 30px;margin: 0 0.5%;padding:0 15px;background-color: #9bc5d2;border-radius: 4px;float: right;text-align: right;}
.span1MapOrder,.span3MapOrder{width: 30px; height: 30px;padding: 0;display: inline-block;position: relative;background-color:#c8dbe0;border-radius: 20px;text-align: center;}
.span1MapOrder,.span3MapOrder{margin: 0 5px;}
.proBadyOrder{width: 99%;margin: 5px 0.5%;padding:12px 15px;float: right;background-color: #e7e7e6;}
.proOrder{width: 160px;height: 250px;padding:4px 4px; background-color: #fff;float: left;text-align: right;}
.proImgOrder{width: 100%;height: 125px;margin: 2px 0;float: right;background-color: rgb(214, 129, 73);}
.proStampOrder{width: 100%;height: 25px;margin: 2px 0;float: right;text-align: center;}
.proStampOrder span{border: 1px solid;height: 20px;display: inline-block;position: relative;padding: 0 20px;border-radius: 6px;}
.span1StampOrder{border-color: #092877; color: #0e328c;}
.span2StampOrder{border-color: #714604; color: #85560e;}
.proNameOrder{width: 100%;height: 30px;margin: 2px 0;color: #061d40;font-size: 16px;float: right;text-align: center;}
.proPriceOrder{width: 100%;height: 25px;margin: 2px 0;color: #0f3302;font-size: 16px;float: right;text-align: center;}
.proShopOrder{width: 100%;height: 20px;margin: 2px 0;font-size: 12px;float: right;text-align: center;background-color: #e2c9c9;}
@media (max-width:650px){
  .proOrder{width: 120px;height: 210px;}

}
@media (min-width:100px){
  .proOrder{
    margin: 7px calc((100% - 120px) / 2);
  }
}
@media (min-width:280px){
  .proOrder{
    margin: 7px calc((100% - 240px) / 4);
  }
}
@media (min-width:425px){
  .proOrder{
    margin: 10px calc((100% - 360px) / 6);
  }
}
@media (min-width:565px){
  .proOrder{
    margin: 15px calc((100% - 480px) / 8);
  }
}
@media (min-width:651px){
  .proOrder{
    margin: 15px calc((100% - 480px) / 6);
  }
}
@media (min-width:715px){
  .proOrder{
    margin: 15px calc((100% - 640px) / 8);
  }
}
@media (min-width:950px){
  .proOrder{
    margin: 15px calc((100% - 800px) / 10);
  }
}
@media (max-width:800px){
  .proBadyOrder{
    padding:12px 8px;
  }
}

/* sabtOrder.php */
/* .sabtOrder{width: 99%;height: 45px;line-height: 45px;padding: 0 15px;margin: 1px 0.5% 2px;border-radius: 3px;background-color: #226895;float: right;}
.sabtOrder_1,.sabtOrder_2,.sabtOrder_3{width: 33%;float: right;color: #fff;}
.sabtOrder_1{text-align: right;}
.sabtOrder_2{text-align: center;line-height: 25px;}
.sabtOrder_3{}
.sabtOrder_3 span{width: 100%;height: 20px;float: right; }
.sabtOrder_3 a{color: #fff;}
.sabtOrder_3 span:last-child{font-size: 12px;margin-right: 8px;line-height: 28px;} */
/* .sabtOrderUl{width: 99%; height: 40px;line-height: 40px;padding: 0 15px;margin: 1px 0.5% 2px;background-color: #d9d9d9;border-radius: 3px;float: right;text-align: right;}
.sabtOrderUl li{padding:0 8px; border-left: 1px solid ;color: #383838;} */
.sabtAndSearchOrder{width: 100%;  background-color:#dfd9c8;float: right;}
.form_sabtOrder,.form_searchOrder{width: 600px;margin: 20px calc((100% - 600px)/2);}
@media (max-width:610px){
  .form_sabtOrder,.form_searchOrder{
    width: 98%;
    margin: 8px 1% 25px;
  }
}
.idOrder{font-size: 18px;margin: 0 4px;padding: 0 5px;border: 1px solid;border-radius: 3px;color: #1d1452;}
