/* //page_login */
.shop_log{width: 98%;height: 35px;line-height: 35px;margin: 3px 1%; border: 1px solid #5c5c5c; border-radius: 3px;float: right;background-color: #a2d4a9}
.shop_log1,.shop_log2,.shop_log3{width: 33%;float: right;font-size: 18px;}
.shop_log1{padding-right: 20px;text-align: right;color: #18909c;}
.shop_log2{margin: 0 0.5%;line-height: 20px;text-align: center;font-size: 14px; color: #2f9909;}
.shop_log3{padding-left: 20px;}
@media (max-width:340px){.shop_log1,.shop_log3{width: 50%;padding: 0 5px;}.shop_log2{display: none;}}
.shop_log_ul{
  width: 98%;height: 40px;line-height: 40px;margin: 0 1%;padding-right: 25px;color: #fff;background-color: #0a374d;border-radius: 3px;text-align: right;float: right;
}
.shop_log_ul a{color: #fff;margin-left: 8px;border-left: 1px solid #fff;}
.shop_log_ul li{
  margin-left: 10px;
  border-left: 1px solid #fff;
  padding-left: 8px;
  cursor: pointer;
}
.shop_log_ul li:hover{color: #75cdc8}
.shop_log_ul li:last-child{border-left: none;}
.chanel_menu_log{width: 100%; float: right;text-align: center;display: none;}
.chanel_menu_log button{width: 120px;height: 38px;background-color:#0a374d; color: #fff;}
.chanel_menu_log button i{position: relative;top:-3px; font-size: 28px;}
.chanel_menu_log button span{margin-right: 17px;position: relative;top: -10px; font-size: 22px;}
@media (max-width:768px){
  .shop_log_ul{display: none;}
  .chanel_menu_log{display: block;}
  /*جهت پنهان کردن اسکرول تگ بادی */
  .chanelMeLog_scroll{overflow: hidden;}

}
@media (min-width:769px) {
.chanelMeLog_small_1 , .chanelMeLog_small_2{display: none;}
}
/* دکمه های ثبت نام ورود */
.shop_btn_log{width: 100%;margin-top: 50px;float: right;}
.shop_btn_log button{width: 180px; height: 60px;font-size: 24px;color: #fff;}
.shop_btn_log1{width: 50%;padding-left: 15px;float: right;text-align: left;}
.shop_btn_log1 button{background-color: #077109;}
.shop_btn_log2{width: 50%;padding-right: 15px;float: left;text-align: right;}
.shop_btn_log2 button{background-color: #115c96;}
@media (max-width:768px) {
  .shop_btn_log{margin-top: 17px;}
  .shop_btn_log button{width: 130px; height: 48px;font-size: 18px;}
}
@media (max-width:520px) {
  .shop_btn_log{margin-top: 12px;}
  .shop_btn_log button{width: 90px; height: 38px;}
}
@media (max-width:280px) {
  .shop_btn_log1{padding-left: 8px;}
  .shop_btn_log2{padding-right: 8px;}
}
/* فرمهای ورود و ثبت نام */
.shop_sabt_log_log{
  width: 98%;
  float: right; margin:15px 1% ; padding: 12px 0;background-color: #d4d4d4;display: none;
}
 .shop_sabt_log_log2{width: 60%;margin: 3px 20%;padding: 5px 130px;float: right;background-color: #f6f1f1;display: none ;border-radius: 4px;}
@media (max-width:1350px) {
  .shop_sabt_log_log2{padding: 5px 90px;}
}
@media (max-width:1100px) {
  .shop_sabt_log_log2{padding: 5px 50px;}
}
@media (max-width:900px) {
  .shop_sabt_log_log2{width: 80%;margin: 3px 10%;}
}
@media (max-width:768px) {
  .shop_sabt_log_log2{width: 90%;margin: 3px 5%;}
}
@media (max-width:650px) {
  .shop_sabt_log_log2{width: 96%;margin: 3px 2%;}
}
@media (max-width:580px) {
  .shop_sabt_log_log2{width: 96%;margin: 3px 2%;padding: 5px 20px;}
}
@media (max-width:460px) {
  .shop_sabt_log_log2{width: 100%;margin: 3px 0;}
}
@media (max-width:310px) {
  .shop_sabt_log_log2{width: 100%;margin: 3px 0;padding: 5px 5px;}
}
.shop_ghanon_society_log3{width: 100%;padding: 0 6px;}
/* لوگوهای تامین کننده */
.shop_logo_log{width: 100%; float: right; margin: 40px 0 10px; text-align: center;}
.shop_logo_log span{display: inline-block;}
.shop_logo_log span > span:first-child{padding: 0 8px; font-size: 25px;}
.shop_logo_log span > span:last-child{ display: block;width: inherit;border: 3px solid #0c7082;border-radius: 4px;}
.shop_logo_log span > span > img{width: 36px;}
@media (max-width:768px) {
  .shop_logo_log span > span > img{width: 26px;}
}
/* دیدگاه مدیران */
.shop_did_log{width: 100%; float: right;margin: 10px 0;}
.shop_did_log1{width: 98%; margin: 0 1%; border: 3px solid #0e1045;display: inline-block;border-radius: 3px;}
.shop_did_log2{width: 130px;margin: -32px 42px 0 0;padding: 5px 5px;text-align: center;display: inline-block;float: right;z-index: 1;position: relative;border: 1px solid #0e1045;font-size: 18px;border-radius: 10px;background-color: #fff; color: #175d18;}
@media (max-width:768px) {
  .shop_did_log2{margin: -28px 4% 0 0; padding: 0 5px;}
}
/* داشبورد شبکه */

.dashShHead{width:98%;height:40px;line-height:40px;margin:3px 1% 2px;padding: 0 25px;background-color:#87a9c3;border-radius:3px;float:right;}
.dashShHead1{width: 75%;float: right;text-align: right; font-size: 18px;}
.dashShHead1_1{color: #fff;}
.dashShHead1_2{color: #055b43;margin-right: 10px;font-size: 16px;}
.dashShHead2{width:25%;float: right;}
.dashShHead2 a{font-size: 18px; color: #115303;}
.NoperfectDaSh{width: 100%;margin: 20px 0; padding: 15px 3px;text-align: center;border: 2px solid #904a11;border-radius: 3px;float: right;}
.NoperfectDaSh span {font-size: 26px; color:#b16914 ; }
@media (max-width:768px) {
  .dashShHead{padding: 0 6px;}
}
@media (max-width:350px) {
  .dashShHead1 , .dashShHead2 a{font-size: 16px;}
  .dashShHead1_2{margin-right: 5px;font-size: 12px;}
}
.dashShUl{width: 98%;height: 35px;line-height: 35px;margin: 0 1%;padding: 0 25px;background-color: #d1d1d1;float: right;border-radius: 3px;text-align: right;}
.dashShUl a{padding:0 10px 0 6px; border-right: 1px solid #000;cursor: pointer;display: inline;}
.dashShUl a:first-child,.dashShUl a:last-child{border-right: none;padding: 0;}
.dashShUl a:last-child{float: left;color: #820909;}
.dashShUl li:last-child i{position: relative;top: 3px; left: 3px;}
.dashShUl a.dashShABt{display: none;border: none;padding: 0;}
.dashShBt{width: 70px;height: 33px;background-color:#0a374d; color: #fff;}
.dashShBt i{position: relative;margin-top:-7px ;font-size: 22px;}
.dashShBt span{margin-right: 7px;position: relative;top: -5px; font-size: 18px;}
@media (max-width:950px){
  .dashShUl a{display: none;}
  .dashShUl a.dashShABt,.dashShUl a:last-child{display: inline-block;}
  .dashSh_scroll{overflow: hidden;}
}
@media (min-width:951Px) {
.dashSh_small_1 , .dashSh_small_2{display: none;}
}
/* content shop */
.dashShContent{width: 98%;margin: 5px 1%;padding: 7px 4px;background-color: #f1f1f1; float: right;}
.dashSh_R{width: 220px;margin-left: 5px;background-color: #d4d4d4; float: right;}
.dashSh_RUl li{font-size: 18px;border-color: #f0f0f0}
.dashSh_RUl li i{margin-left: 8px;}
.dashSh_L{width: calc(100% - 225px);padding: 3px 15px;float: left;background-color: #fff;}
.dashTitrSh{width: 100%;height: 40px;line-height: 40px;padding:0 20px;float: right;font-size: 18px;color: #fff;background-color: #2454a6;border-radius: 3px;text-align: right;}
.dashLBodySh{width: 100%;padding:7px 4px;float: right;text-align: right;}
@media (max-width:950px){
  .dashSh_R{display: none;}
  .dashSh_L{width: 100%;padding: 3px 10px;}
}
@media (max-width:768px){
  .dashSh_L{padding: 3px 5px;}
  .dashTitrSh{padding:0 10px;}
}
@media (max-width:500px){
  .dashTitrSh{font-size: 14px;}
}
#form_perfectDaSh ,.form_editDaShop , .form_editPasDaShop{
  width: 560px;
  margin: 8px calc((100% - 560px)/2) 25px;
}
@media (max-width:610px){
  #form_perfectDaSh,.form_editDaShop, .form_editPasDaShop{
    width: 98%;
    margin: 8px 1% 25px;
  }
}
.perfectDaShOk{text-align: center;margin: 25px 0 ;padding: 20px 4px;border: 2px solid #286767;border-radius: 3px;}
/* newOrderShop.php */
.newOrder,.newOrder_1{width: 100%;height: 30px;line-height: 29px;float: right;background-color: #e0e0e0;border: 1px solid #383838; border-radius: 3px 3px 0 0;}
.newOrder{border-bottom-width: 2px;background-color: #4a91b9;color: #fff;}
.newOrderRwo,.newOrderName,.newOrderVahed,.newOrderDate,.newOrderRwo_1,.newOrderName_1,.newOrderVahed_1,.newOrderDate_1{float: right;border-left: 1px solid #4d565e;text-align: center;}
.newOrderRwo,.newOrderRwo_1{width: 40px;}
.newOrderName,.newOrderName_1{width: calc(50% - 40px);}
.newOrderVahed,.newOrderVahed_1{width:25%;}
.newOrderDate,.newOrderDate_1{width:25%;border-left: none;}
.newOrderA{color:#000;}
.newOrderName_1{color: #2658a2}
.newOrder_1{border-radius: 0;border-top: none;}
.color1{background-color: #e2dfdf;}
.color2{background-color: #d0d0d0;}
.newOrder_1:hover, .newOrder_1:hover .newOrderName_1{cursor: pointer;background-color: #618fd4;color: #fff;}
@media (max-width:500px){
  .newOrder,.newOrder_1{font-size: 12px;}
  .newOrderRwo,.newOrderRwo_1{width: 23px;}
  .newOrderName,.newOrderName_1{width: calc(48% - 23px);}
  .newOrderDate,.newOrderDate_1{width:27%;border-left: none;}
  .newOrderRwo_1,.newOrderVahed_1,.newOrderDate_1{font-size: 10px;}
  }
/* newOrderShopOne.php */
.newOrderOneBut{float: left; height: 30px;margin-top: 5px;}
.orderDiv{width: 49%;height: 45px; line-height: 45px;margin: 2px 0.5%;padding: 0 20px 0 0;float: right; background-color: #cfe1f1;}
.orderDiv2{width: 99%;margin: 2px 0.5%;padding: 0 20px 0 0;background-color: #cfe1f1;float: right;}
.orderDivZ0,.orderDivZ{width: 50%; float: right;}
.orderDivZ , .orderDivZ2{color: #04902e;}
.orderDivSpan{margin-right: 10px;font-family: sans-serif;}
.orderOk{width: 99%;margin: 10px 0.5%;padding: 10px;float: right;text-align: center;border: 2px solid #085821;border-radius: 3px;color: #093e13;}
.orderOk a{color: #bcc607;font-size: 18px;}
.stamp_orderSabtShD1{color: #057546;}
.stamp_orderSabtShD2{color: #3e6204;}
@media (max-width:470px){
  .orderDiv{width: 99%;height: 45px; line-height: 45px;margin: 2px 0.5%;padding: 0 20px 0 0;float: right; background-color: #a8bdcf;}
  }
  /* ********** */
  .modal_h_img_add_pro{ line-height: 0; }
  .modal_h_img_add_pro span{ font-size: 34px;color: #a10000;}
  .titr_modal_img_addpro{width: 100%; height: 40px;line-height: 40px;float: right; border-radius: 3px; background-color: #e9e9e9;text-align: center;}
  .footer_modal_img_add_pro{width: 100%; float: right; margin:0 0 6px 0;text-align: center;}
  .footer_modal_img_add_pro button:first-child{width: 110px;color: #a10000;}
  .footer_modal_img_add_pro button:last-child{width: 110px;background-color: #750505;color: #fff;}

  .form_img_add_pro{width: 100%; height: 120px; padding-top: 5px;float: right; margin: 6px 0 4px; background-color:#f2fbff;border-radius: 2px;}
  .formTitrShop{width: 100%;margin-bottom: 4px;padding: 3px 15px;font-size: 12px;float: right;background-color: #c3f4cb;border: 1px solid #80c38b;border-radius: 3px;}
  .formTitrShop span{color: #074717;font-size: 14px;}
  .formTitrShop i{margin: 0 3px;}
  .i_orderSabtSh:hover{color: #424242;cursor: pointer;}
  .MRahnama{width: 99%;margin: 5px 0.5%;text-align: justify;border: 1px solid #012407;border-radius: 3px;}
  @media (max-width:768px){
    .MRahnama{font-size: 12px;}
    }
  .Icheck{color: #196201;margin-right: 15px;position: relative;top: 3px;}
  /* oldOrderShop.php */
  .oldOrder,.oldOrder_1{width: 100%;height: 30px;line-height: 29px;float: right;background-color: #e0e0e0;border: 1px solid #383838; border-radius: 3px 3px 0 0;}
  .oldOrder{border-bottom-width: 2px;background-color: #4a91b9;color: #fff;}
  .oldOrderRwo,.oldOrderName,.oldOrderVahed,.oldOrderDate,.oldOrderRwo_1,.oldOrderName_1,.oldOrderVahed_1,.oldOrderDate_1{float: right;border-left: 1px solid #4d565e;text-align: center;}
  .oldOrderRwo,.oldOrderRwo_1{width: 40px;}
  .oldOrderName,.oldOrderName_1{width: calc(50% - 40px);}
  .oldOrderVahed,.oldOrderVahed_1{width:25%;}
  .oldOrderDate,.oldOrderDate_1{width:25%;border-left: none;}
  .oldOrderA{color:#000;}
  .oldOrderName_1{color: #2658a2}
  .oldOrder_1{border-radius: 0;border-top: none;}
  .color1{background-color: #e2dfdf;}
  .color2{background-color: #d0d0d0;}
  .oldOrder_1:hover, .oldOrder_1:hover .oldOrderName_1{cursor: pointer;background-color: #618fd4;color: #fff;}
  @media (max-width:500px){
    .oldOrder,.oldOrder_1{font-size: 12px;}
    .oldOrderRwo,.oldOrderRwo_1{width: 23px;}
    .oldOrderName,.oldOrderName_1{width: calc(48% - 23px);}
    .oldOrderDate,.oldOrderDate_1{width:27%;border-left: none;}
    .oldOrderRwo_1,.oldOrderVahed_1,.oldOrderDate_1{font-size: 10px;}
    }
    /* oldOrderShopOne.php */
    .oldOrderOneBut{float: left; height: 30px;margin-top: 5px;}
    .orderDivTitr{width:99%;margin: 2px 0.5%;padding: 0 20px;height: 30px;line-height: 30px;float: right;background-color: #047791;border-radius: 3px;color: #fff; }
    .orderDiv{width: 49%;height: 45px; line-height: 45px;margin: 2px 0.5%;padding: 0 20px 0 0;float: right; background-color: #cfe1f1;}
    .orderDiv2{width: 99%;margin: 2px 0.5%;padding: 0 20px 0 0;background-color: #cfe1f1;float: right;}
    .orderDivZ0,.orderDivZ{width: 50%; float: right;}
    .orderDivZ , .orderDivZ2{color: #04902e;}
    .orderDivSpan{margin-right: 10px;font-family: sans-serif;}
    .orderLine{width:99%;margin: 25px 0.5%; float: right;border: 3px solid #032416; border-radius: 3px;}
    .stamp_orderSabtShD1{color: #057546;}
    .stamp_orderSabtShD2{color: #3e6204;}
    @media (max-width:470px){
      .orderDivTitr{font-size: 14px;}
      .orderDiv{width: 99%;height: 45px; line-height: 45px;margin: 2px 0.5%;padding: 0 20px 0 0;float: right; background-color: #a8bdcf;}
      }
/* buyProShop.blade.php */
/* buyProShopOne.blade.php */
.buyOneDivTitr,.buyOne2DivTitr{width:99%;height: 30px;line-height: 30px;margin: 2px 0.5%;padding: 0 20px;float: right;background-color: #047791;border-radius: 3px;color: #fff;}
.buyOne2DivTitr{background-color:#0b9bbb; }
.buyOnePrint{float: left;height: 25px;margin-top: 2.5px;line-height: 5px;}
.buyOneShopPost{width: 99%;margin: 2px 0.5%;float: right;}
.buyOneShopPost1,.buyOneShopPost2{width: 100%;padding:5px 0;float: right;font-size: 18px;text-align: center;border-bottom: 1px solid #3c3801;background-color: #716a08;color: #fff}
.buyOneShopPost2{border-bottom: none;padding: 10px 0 7px;background-color: #ccbf09;}
.buyOneShopPost2 span{ padding: 0 20px;border: 2px solid #0a3608;border-radius: 6px;color:#0b4009;background-color: #e5f014;}
@media (max-width:470px){
  .buyOneDivTitr{font-size: 14px;}
  }
  /* sabtErsalShop.blade.php */
  .form_sabtCodePSh,.sabtCodeBodySh,.form_sabtCodeRahgirySh{
    width: 500px;
    margin: 0 calc( (100% - 500px ) / 2);
  }
  .sabtCodeBodySh{
    float: right;
    margin-top: 5px;
  }
  .sabtCodeBodyTSh ,.sabtCodeBodyT2Sh{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    float: right;
    background-color: #395f78;
    color: #fff;
    border-radius: 3px;
  }
  .sabtCodeBodyT2Sh{
    background-color: #487695;
  }
  .sabtCodeBodyLSh{
    width: 100%;
    margin: 15px 0;
    float: right;
    border: 2px solid #3d5c36;
    border-radius: 2px;
  }
  .sabtCodeBodyPSh,.sabtCodeBodyBSh{
    width: 48%;
    float: right;
    margin: 3px 1%;
    background-color: #c7f1f2;
  }
  .sabtCodeBodyPSh{
    padding: 3px 0;
    background-color: #c8e2e6;
  }
  .sabtCodeBodyBASh{
    width: 98%;
    float: right;
    margin: 3px 1%;
    background-color: #c7f1f2;
  }
  .sabtCodeBodyBPSh{
    width: 98%;
    float: right;
    padding: 4px 0;
    margin: 3px 1%;
    background-color: #e7e317;
    text-align: center;
    border: 1px solid #866d23;
  }
  .sabtCodeBodyP1Sh,.sabtCodeBodyP2Sh,.sabtCodeBodyB1Sh,.sabtCodeBodyB2Sh,.sabtCodeBodyBP1Sh,.sabtCodeBodyBP2Sh{
    width: 50%;
    float: right;
    padding: 0 8px;
  }
  .sabtCodeBodyBA1Sh,.sabtCodeBodyBA2Sh{
    width: 100%;
    float: right;
    padding: 0 8px;
  }
  @media (max-width:450px){
    .sabtCodeBodyPSh,.sabtCodeBodyBSh{
      width: 98%;
    }
    }
  @media (max-width:550px){
    .form_sabtCodePSh,.sabtCodeBodySh,.form_sabtCodeRahgirySh{
      width: 99%;
      margin: 0 1%;
    }
    }
/* editErsalShop.blade.php */
.form_editCodePSh,.editCodeBodySh,.form_editCodeRahgirySh,.div_editCodeSh,.div2_editCodeSh{
  width: 500px;
  margin: 0 calc( (100% - 500px ) / 2);
}
.editCodeBodySh{
  float: right;
  margin-top: 5px;
}
.editCodeBodyTSh ,.editCodeBodyT2Sh{
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  float: right;
  background-color: #395f78;
  color: #fff;
  border-radius: 3px;
}
.editCodeBodyT2Sh{
  background-color: #487695;
}
.editCodeBodyLSh{
  width: 100%;
  margin: 15px 0;
  float: right;
  border: 2px solid #3d5c36;
  border-radius: 2px;
}
.editCodeBodyPSh,.editCodeBodyBSh{
  width: 48%;
  float: right;
  margin: 3px 1%;
  background-color: #c7f1f2;
}
.editCodeBodyPSh{
  padding: 3px 0;
  background-color: #c8e2e6;
}
.editCodeBodyBASh{
  width: 98%;
  float: right;
  margin: 3px 1%;
  background-color: #c7f1f2;
}
.editCodeBodyBPSh{
  width: 98%;
  float: right;
  padding: 4px 0;
  margin: 3px 1%;
  background-color: #e7e317;
  text-align: center;
  border: 1px solid #866d23;
}
.editCodeBodyP1Sh,.editCodeBodyP2Sh,.editCodeBodyB1Sh,.editCodeBodyB2Sh,.editCodeBodyBP1Sh,.editCodeBodyBP2Sh{
  width: 50%;
  float: right;
  padding: 0 8px;
}
.editCodeBodyBA1Sh,.editCodeBodyBA2Sh{
  width: 100%;
  float: right;
  padding: 0 8px;
}
.div_editCodeSh , .div2_editCodeSh{
  height: 30px;
  line-height: 30px;
  border: 1px solid #000;
  float: right;
  margin-top: 5px;
  background-color: #b3ebed;
}
.div2_editCodeSh{margin-top: 0;border-top: none;cursor: pointer;}
.div2_editCodeSh:hover{background: #5156dd;color: #fff;}
.bColor1{background: #fff;}
.bColor2{background: #e3e3e3;}
.div_editCodeSh1{width: 25px;height: 29px;float: right;text-align: center;border-left: 1px solid #000;}
.div_editCodeSh2{width:calc(20% - 25px);height: 29px; float: right;text-align: center;border-left: 1px solid #000;}
.div_editCodeSh3{width:30%;height: 29px;float: right;text-align: center;border-left: 1px solid #000;}
.div_editCodeSh4{width: 28%;height: 29px;float: right;text-align: center;border-left: 1px solid #000;}
.div_editCodeSh5{width: 22%;height: 29px;float: right;text-align: center;}
  @media (max-width:550px){
      .form_editCodePSh,.editCodeBodySh,.form_editCodeRahgirySh{
        width: 99%;
        margin: 0 1%;
      }
      .div_editCodeSh,.div2_editCodeSh{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
  }
  @media (max-width:450px){
    .editCodeBodyPSh,.editCodeBodyBSh{width: 98%;}
    .div_editCodeSh2{width:calc(30% - 25px);}
    .div_editCodeSh3{width:30%;}
    .div_editCodeSh4{width: 40%;border-left: none;}
    .div_editCodeSh5{display: none;}
    }
  @media (max-width:310px){
      .div_editCodeSh1{width: 20px;font-size: 12px;}
      .div_editCodeSh2{width:calc(30% - 20px);font-size: 12px;}
      .div_editCodeSh3,.div_editCodeSh4{font-size: 12px;}
      }
/* societyCh.php */
.society_ch{width: 100%;padding: 7px 20px 7px 10px ;text-align: justify;float: right;color: #3d3d3d;background-color: #f1f7f9;font-size: 16px;}
.society_ch p{background-color: #fff; padding: 5px 8px; border-radius: 2px;}
.span_society1{color: #196b0c; font-size: 18px;}
.span_society2{color: #09898e;font-size: 18px;}
.span_society3{color:#026a3e; }
@media (max-width:768px){
  .society_ch{font-size: 14px;padding: 7px 10px ;}
  .span_society1,.span_society2{font-size: 16px;}
  }
/* ghanonCh.php */
.ghanonCh{}
.ghanonChUl{padding:5px 25px 5px 6px;list-style: decimal;background-color: #cddfdb}
.ghanonChUl li{margin-bottom: 5px; background-color: #fff; padding: 3px 8px 3px 5px; border-radius: 4px;}
