/* ********** اضافه کردن محصول ********** */
.add_pro{width: 98%; margin: 0 1%;height: 35px;line-height: 35px;font-size: 16px;padding: 0 12px;float: right; text-align: right; background-color: #dfdfdf; border-radius: 3px;}
.add_pro2{width: 98%; margin: 7px 1%;float: right;text-align: right;}

.mavad_all_addpro1_admin label{width: 100%;float: right;}
.mavad_addpro1_admin{width: 19%; margin: 2px 0.5%; float: right;}
.add_pro_form1_2{width: 98%; margin: 6px 1%;padding:3px 7px; float: right;background-color: #d5dade;border-radius: 3px;}
.img_add_pro{width: 14.666%; height: 115px;margin: 3px 1%; padding: 2px 0;text-align: center; float: left; background-color: #d7e9ed; overflow: hidden; border: 1px solid #c1c1c1; border-radius: 3px;}
.img_add_pro img{width: 100%; height: 115px;}
.img_add_pro2{float: right;}
.form_img_add_pro{width: 100%; height: 120px; padding-top: 5px;float: right; margin: 6px 0 4px; background-color:#f2fbff;border-radius: 2px;}
.sabt_form_addPro{width: 98%; margin: 13px 1% 4px; padding: 4px 0;float: right;text-align: center; background-color: #f1f1f1; border-radius: 4px;}
.sabt_form_addPro button{width: 300px;}
.ajax_formaddpro1_admin{width: 100%;float: right;}
.ajax_addpro1_img{
  width: 1px;height: 1px; overflow: hidden;font-size: 1px; color:#ffffff; background-color: #ffffff;
}


.modal_h_img_add_pro{ line-height: 0; }
.modal_h_img_add_pro span{ font-size: 34px;color: #a10000;}
.titr_modal_img_addpro{width: 100%; height: 40px;line-height: 40px;float: right; border-radius: 3px; background-color: #e9e9e9;}
.footer_modal_img_add_pro{width: 100%; float: right; margin:0 0 6px 0;text-align: center;}
.footer_modal_img_add_pro button{width: 110px;}
.footer_modal_img_add_pro button:first-child{width: 110px;color: #1a58c1;}
.footer_modal_img_add_pro button:first-child:hover{color: #072b67;}
