.all_edit_pro1{width: 98%; margin: 3px 1% 0;height: 42px;line-height: 42px;font-size: 14px; padding: 0 12px;float: right; text-align: right; background-color: #288b3e; border-radius: 3px;}
.all_edit_pro1_0{width: 26%; height: 36px;line-height: 36px; margin: 3px 0.5%; padding: 0 6px;background-color: #fff; border-radius: 3px;float: right;}
.all_edit_pro1 .div1{width: 60%;float: right;}
.all_edit_pro1 .div2{width: 29%; padding-right:; text-align: center;float: right;}
.all_edit_pro1 .div3{width: 9%;padding-left: 4px;float: left; font-size: 12px;}
.all_edit_pro1_2 .div2{color: #094d05;}
.all_edit_pro1_3 .div2{color: #7a0a0a;}
.all_edit_pro2{width: 98%; margin: 6px 1% 0;font-size: 16px; padding: 5px 4px;float: right; text-align: right; background-color: #fbf9e1; border-radius: 1px;}
.all_edit_pro2_1{width: 100%; height: 35px; line-height: 35px; float: right; background: #98c9c2; border: 1px solid #5e5e5e;float: right;}
.all_edit_pro2_1_0{height: 34px;padding: 0 2px;text-align: center;float: right; border-left: 1px solid #6f6f6f;}
.all_edit_pro2_1_0 .span1{ text-align: center;display: inline-block;}
.all_edit_pro2_1_0 .span2{ font-size: 12px;}
.all_edit_pro3{background-color: #fff;}
.all_edit_pro3_1{background-color: #f7f7f7;}
.all_edit_pro3:hover{background-color:#c9cbe0; border-bottom: 2px solid #505477;cursor:default;}
.all_edit_pro_name{width:24.6%;}
.all_edit_pro_name2{text-align: right;}
.all_edit_pro_seller{width:16.4%; }
.all_edit_pro_price{width:16.4%;}
.all_edit_pro_price .span1{color: #288b3e;}
.all_edit_pro_froosh{width:13.2%;}
.all_edit_pro_froosh .span1{color: #6c3621;}
.all_edit_pro_did{width:13.2%;}
.all_edit_pro_did .span1{color: #18287a;}

.all_edit_pro_show{width:8.2%;}
.span_ok{color: #094d05;}
.span_no{color: #7a0a0a;}
.all_edit_pro_edit{width:8%;border-left: none;}
.all_edit_pro3{}

/* orderBuy.css */
.orderBuyR1{width: 40px;}
.orderBuyR2{width: calc( 28% - 40px);}
.orderBuyR3{width:15%; }
.orderBuyR4{width:10%;}
.orderBuyR5{width:17%;}
.orderBuyR6{width:15%;}
.orderBuyR7{width:15%;}
