.all_edit_pro1_0{width: 26%; height: 32px;line-height: 32px; margin: 1px 0.5%; padding: 0 6px;background-color: #fff; border-radius: 3px;float: right;}
.divE1{width: 60%;float: right;}
.divE2{width: 29%; padding-right:; text-align: center;float: right;}
.divE3{width: 9%;padding-left: 4px;float: left; font-size: 12px;}
.all_edit_pro1_2 .divE2{color: #094d05;}
.all_edit_pro1_3 .divE2{color: #7a0a0a;}

.all_edit_pro3{background-color: #fff;}
.all_edit_pro3_1{background-color: #f7f7f7;}
.all_edit_pro3:hover{background-color:#c9cbe0; border-bottom: 2px solid #505477;cursor:default;}
.all_edit_pro_name{width:calc(26.4% - 40px);}
.all_edit_pro_name2{text-align: right;}
.all_edit_pro_seller{width:16%; }
.all_edit_pro_price{width:15%;}
.all_edit_pro_price .span1{color: #288b3e;}
.all_edit_pro_froosh{width:13.2%;}
.all_edit_pro_froosh .span1{color: #6c3621;}
.all_edit_pro_did{width:13.2%;}
.all_edit_pro_did .span1{color: #18287a;}

.all_edit_pro_show{width:8.2%;}
.span_ok{color: #094d05;}
.span_no{color: #7a0a0a;}
.all_edit_pro_edit{width:8%;border-left: none;}
.all_edit_pro3{}

/* orderBuy.css */
.orderBuyR2{width: calc( 28% - 40px);}
.orderBuyR3{width:15%; }
.orderBuyR4{width:10%;}
.orderBuyR5{width:17%;}
.orderBuyR6{width:15%;}
.orderBuyR7{width:15%;}
