*{
  font-size: 16px;
   @font-face {
  font-family: 'b koodak';
  src: url('../../fatak -font/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
       url('../../fatak -font/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../../fatak -font/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
 font-family: 'b yekan';
  src: url('../../fatak -font/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('../../fatak -font/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../../fatak -font/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */

}


}
h1,h2,h3,h4,h5,h6{margin: 0;}
.number{font-family:'b yekan'; }
.tahoma{font-family: Tahoma;}
a{cursor: pointer;}
.kama{ font-family:Tahoma, Geneva, sans-serif ; color:#000}

body{
  width: 100%;
  min-width: 950px;
  font-family: "b koodak", Arial, Helvetica, sans-serif;
  direction:rtl;
  text-align: right;
  background-color: #e9e9e9;
  padding: 5px 8px;


}
.gif_loding{width: 250px;position: fixed; margin: 100px 0 0 0; z-index: 3000;  opacity: 0.9; display: none;}
.all_khat{width: 100%;  }

.ul_line{margin: 0; padding: 0;}
.ul_line li{
display:inline;
}
.row{padding: 0; margin: 0;}
/* جستجو */
.search_all{width: 100%;float: right; margin-top: 22px;}
.search_body{width: 100%; padding: 0 4px 6px;float: right;text-align: right;background-color: #e1ecee;border: 1px solid #105807; border-radius: 4px;}
.search_titr{width: 200px; height: 33px; line-height: 30px; padding-right: 30px;font-size: 18px; color: #ededed;float: right; background-color:#105807; border-radius: 4px; position: relative; right: 10px; top: -19px;}
.empty_record{float: right; color: #9d2727; padding-right: 15px;}
/* carsol_pro_ess */
.carsol_pro_ess{width: 100%; margin: 5px 0; float: right;}
/* اخطار فیلذهای فرم */

.div_activ{display: block;}
.div_none{display: none;}
/******************* //body *********************/
.contentDash2{width: 100%;height: 100%;margin: 10px 0; float: right; background-color: #fff; border: 1px solid #c8c5c5; border-radius: 4px;}
.contentDash2_titr{width: 190px;height: 30px;line-height: 28px;padding: 0 6px;font-size: 20px;color: #1e740f;background-color:#c4fabb; border: 1px solid #1e740f;border-radius: 7px; position: relative; top: -19px; right: 10px; float: right;text-align: center;}
.contentDash2_body{width: 100%;margin-top: -14px;min-height: 400px;float: right;position: relative;}
.contentDash2_body_r{width: 210px;min-height: 400px;padding-bottom: 50px;float: right;text-align: right;background-color: #cfcfcf;overflow:auto;}
.contentDash2_body_r a{width: 100%;height: 37px;line-height: 37px;color: #07488c;text-decoration: none;padding:0 7px 0 2px;float: right;border-bottom: 1px solid #ededed;}
.contentDash2_body_r a:hover{background-color: #e4e4e4;}
.titrCBR{width: calc(100% - 50px);float: right;color: #07488c;}
.badgeCBR{width: auto;height: 20px; line-height: 20px;margin-top: 7px;padding: 0 5px;font-size: 12px;background-color: #f1f1f1;border: 1px solid #7c9ab9;border-radius: 17px;float: left;text-align: center;}
.fixed{position: fixed;top: 0;}
.contentDash2_body_l{width: calc(100% - 210px);height: 100%;padding: 0 5px;float: left;text-align: center;}
.CDBMTitr{width: 100%;height: 40px;line-height: 41px;margin-bottom: 5px;padding:0 12px;text-align: right;font-size: 18px;float: right;background-color: #02787c;color: #fff;border-radius: 3px;}
.CDBMBody{width: 100%;padding:12px;float: right;border: 1px solid #bebbbb;border-radius: 3px;}


/* #### form #### */

.formAdmin{width: 100%;float: right;margin-bottom: 35px;padding: 6px 0; border: 1px solid #dedede; border-radius: 3px;}
.ajax_form_admin{width: 98%;margin: 0 1%;float: right;text-align: center;}
.warning_form{width: 98%;margin: 2px 1%;padding: 0 4px;font-size: 12px;float: right;background-color: #f7d9a6;color:#c46604;border-radius: 3px;}
.warning_form i{position: relative;font-size: 10px;color: #a1340b;}
.star_form{color: #820000;font-size: 6px;position: relative;top: -5px;right: -3px;}
.Icheck{color: #196201;margin-right: 15px;position: relative;top: 3px;}
.placeholder:-moz-placeholder,.placeholder::-moz-placeholder{color:#d3d5ec;opacity: 0.9;}
.placeholder:focus:-moz-placeholder,.placeholder:focus::-moz-placeholder{opacity: 0.4;}
.textAll{width: 48%; height: 45px;line-height: 42px;padding: 3px 3px;margin: 6px 1%;float: right;background-color: #d5dade;border-radius: 3px;}
.textAll label{width: 40%; float: right;}
.textAll input , .textAll select{width: 60%; float: right;}
.divRadio {width: 60%;float: right; }
.labelRadio_R,.labelRadio_L{width: 49% !important;height:37px ;margin: 1px 0.5% 0;float: right;text-align: center;border: 1px solid ;border-radius: 4px;cursor: pointer;}
.labelRadio_R{color: #017d0d;background-color:#caf4ce;}
.labelRadio_L{color: #bb4d1d;background-color:#f9ddd1;}
.labelRadio_R span,.labelRadio_L span{width: auto;margin: 0;float: none;}
.labelRadio_R input,.labelRadio_L input{width: auto;position: relative;top: 1px;float: none;}
.textareaEditor{width: 98%; margin: 6px 1%;padding:3px 7px; float: right;background-color: #d5dade;border-radius: 3px;}
.divSabtForm{width: 98%; margin: 13px 1% 4px; padding: 4px 0;float: right;text-align: center; background-color: #f1f1f1; border-radius: 4px;}
.divSabtForm button{width: 300px;}

/* css content کدهای همگانی قسمت کانتنت */
.div_body{width: 98%; margin: 7px 1%;border:1px solid #e2e2e2;border-radius: 4px;float: right;text-align: right;}
.divLine{width:99%;margin: 25px 0.5%; float: right;border: 3px solid #032416; border-radius: 3px;}


/* page_login.php */
.login1{
  width: 100%;
  float: right;
}
.login2{
  width: 360px;
  margin: 100px calc((100% - 360px) / 2);
  padding: 7px;
  float: right;
  background-color: #dbf5e9;
}
.ajaxLoginManage{
  width: 100%;
  margin: 3px 0;
  padding: 3px;
  float: right;
}
.form_btn1{
  width: 100%;
  margin: 2px 0;
  padding: 3px;
  float: right;
}
.form_btn1 button{
  width: 100%;
}
/* modirAdmin.php , edModirManeg.php */
.rowListEMM,.rowListEMM_b{
  width: 100%;
  height: 32px;
  line-height: 32px;
  margin: 3px 0 0;
  float: right;
  color: #063236;
  background-color: #81c6cc;
  border: 1px solid #43767a;
  border-radius: 3px 3px 0 0;
}
.rowListEMM_b{
  margin-top: 0;
  background-color: #fff;
  border: 1px solid #c2c7c7;
  border-top: none;
  border-radius:0;
  cursor: pointer;
}
.rowListEMM_b:hover{background-color: #aed8fa;}
.classBg1{background-color: #fff !important;}
.classBg2{background-color: #dfdede !important;}
.classBg1:hover ,.classBg2:hover{background-color: #baecf9 !important;}
.rowListEMM_1{width: 6%;height:30px ;border-left: 1px solid #43767a;display: inline-block;float: right;}
.rowListEMM_2{width: 6%;height:30px ;border-left: 1px solid #43767a;display: inline-block;float: right;}
.rowListEMM_3{width: 25%;height:30px ;border-left: 1px solid #43767a;display: inline-block;float: right;}
.rowListEMM_4{width: 23%;height:30px ;border-left: 1px solid #43767a;display: inline-block;float: right;}
.rowListEMM_5{width: 15%;height:30px ;border-left: 1px solid #43767a;display: inline-block;float: right;}
.rowListEMM_6{width: 25%;height:30px ;display: inline-block;float: right;}
.classColor1{color: #025b0b;}
.classColor2{color: #753c0d;}
