/* **********ویرایش کردن محصول ********** */
.edit_pro{width: 98%; margin: 0 1%;height: 35px;line-height: 35px;font-size: 16px; padding: 0 12px;float: right; text-align: right; background-color: #dfdfdf; border-radius: 3px;}
.edit_pro2{width: 98%; margin: 7px 1%;float: right;text-align: right;}
.edit_pro_form1{width: 100%;float: right;padding: 6px 0; border: 1px solid #dedede; border-radius: 3px;}
.edit_pro_form1_1{width: 48%; height: 45px;line-height: 42px;padding: 3px 7px;margin: 6px 1%;float: right;background-color: #d5dade;border-radius: 3px;}
.edit_pro_form1_1 label{width: 25%; float: right;}
.edit_pro_form1_1 input , .edit_pro_form1_1 select{width: 75%; float: right;}
.mavad_all_editpro1_admin label{width: 100%;float: right;}
.mavad_editpro1_admin{width: 19%; margin: 2px 0.5%; float: right;}
.edit_pro_form1_2{width: 98%; margin: 6px 1%;padding:3px 7px; float: right;background-color: #d5dade;border-radius: 3px;}
.img_edit_pro{width: 14.666%; height: 115px;margin: 3px 1%; padding: 2px 0;text-align: center; float: left; background-color: #d7e9ed; overflow: hidden; border: 1px solid #c1c1c1; border-radius: 3px;}
.img_edit_pro img{width: 100%; height: 115px;}
.img_edit_pro2{float: right;}
.form_img_edit_pro{width: 100%; height: 120px; padding-top: 5px;float: right; margin: 6px 0 4px; background-color:#f2fbff;border-radius: 2px;}
.sabt_form_editPro{width: 98%; margin: 13px 1% 4px; padding: 4px 0;float: right;text-align: center; background-color: #f1f1f1; border-radius: 4px;}
.sabt_form_editPro button{width: 300px;}
.ajax_formeditpro1_admin{width: 100%;float: right;}
.ajax_editpro1_img{
  width: 1px;height: 1px; overflow: hidden;font-size: 1px; color:#ffffff; background-color: #ffffff;
}
.div_show_editpro {width: 70%;float: right; margin-right: 10px;}
.div_show_editpro input{width: 10%;float: right;margin-top: 15px;}

.div_show_editpro label{width: 90%;float: right;text-align: left;padding-left: 15px;}

.div_show_editpro_1{width: 50%;float: right; }
.div_show_editpro_1 label{color: #056200;}
.div_show_editpro_2{width: 50%;float: right; }
.div_show_editpro_2 label{color: #784108;}
.modal_h_img_edit_pro{ line-height: 0; }
.modal_h_img_edit_pro span{ font-size: 34px;color: #a10000;}
.titr_modal_img_editpro{width: 100%; height: 40px;line-height: 40px;float: right; border-radius: 3px; background-color: #e9e9e9;}
.footer_modal_img_edit_pro{width: 100%; float: right; margin:0 0 6px 0;text-align: center;}
.footer_modal_img_edit_pro button{width: 110px;color: #a10000;}
