.orderNewUnS1{width: calc( 28% - 40px);}
.orderNewUnS1_2{color: #051249;}
.orderNewUnS2{width:15%;}
.orderNewUnS2 span:first-child{color: #053904;}
.orderNewUnS2 span:last-child{color: #032125;}
.orderNewUnS3{width:12%;}
.orderNewUnS3_2{color: #125008;}
.orderNewUnS4{width:15%;}
.orderNewUnS5{width:15%;}
.orderNewUnS6{width:15%;}
