.orderSabtUnS1{width: calc( 28% - 40px);}
.orderSabtUnS1_2{color: #051249;}
.orderSabtUnS2{width:10%;}
.orderSabtUnS2 span:first-child{color: #053904;}
.orderSabtUnS2 span:last-child{color: #032125;}
.orderSabtUnS3{width:22%;}
.orderSabtUnS3_2{color: #125008;}
.orderSabtUnS4{width:10%;}
.orderSabtUnS5{width:15%;}
.orderSabtUnS6{width:15%;}
