.orderNewUnS1{width: calc( 28% - 40px);}
.orderNewUnS1_2{color: #051249;}
.orderNewUnS2{width:15%;}
.orderNewUnS2 span:first-child{color: #053904;}
.orderNewUnS2 span:last-child{color: #032125;}
.orderNewUnS3{width:12%;}
.orderNewUnS3_2{color: #125008;}
.orderNewUnS4{width:15%;}
.orderNewUnS5{width:15%;}
.orderNewUnS6{width:15%;}
/* order_sabtPUnStockF.php */
.orderSabtUnS1{width: calc( 28% - 40px);}
.orderSabtUnS1_2{color: #051249;}
.orderSabtUnS2{width:10%;}
.orderSabtUnS2 span:first-child{color: #053904;}
.orderSabtUnS2 span:last-child{color: #032125;}
.orderSabtUnS3{width:22%;}
.orderSabtUnS3_2{color: #125008;}
.orderSabtUnS4{width:10%;}
.orderSabtUnS5{width:15%;}
.orderSabtUnS6{width:15%;}
/* orderBuyUnStockF.blade.php */
.orderBuyUnSF1{width: calc( 28% - 40px);}
.orderBuyUnSF1_2{color: #051249;}
.orderBuyUnSF2{width:12%;}
.orderBuyUnSF3{width:10%;}
.orderBuyUnSF3_2{color: #051249;}
.orderBuyUnSF4{width:8%;}
.orderBuyUnSF4_2{color: #004b67;}
.orderBuyUnSF5{width:12%;}
.orderBuyUnSF6{width:15%;}
.orderBuyUnSF7{width:15%;}
/* proceedOrderUnStockF.php */
.orderProceedUnSF1{width: calc( 28% - 40px);}
.orderProceedUnSF1_2{color: #051249;}
.orderProceedUnSF2{width:12%;}
.orderProceedUnSF3{width:10%;}
.orderProceedUnSF3_2{color: #051249;}
.orderProceedUnSF4{width:8%;}
.orderProceedUnSF4_2{color: #004b67;}
.orderProceedUnSF5{width:12%;}
.orderProceedUnSF6{width:15%;}
.orderProceedUnSF7{width:15%;}
