/* orderNewPStockF.php  سفارشات جدید*/
.orderNewPSF2{width: calc( 28% - 40px);}
.orderNewPSF2_2{color: #0f3f71;}
.orderNewPSF3{width:15%; }
.orderNewPSF4{width:10%;}
.orderNewPSF4_2{color: #0f3f71;}
.orderNewPSF5{width:17%;}
.orderNewPSF6{width:15%;}
.orderNewPSF7{width:15%;}
.orderNewPSF_R{cursor: pointer;}
