/* orderNewPStockS.php  سفارشات جدید*/
.orderNewPSS1{width: calc( 28% - 40px);}
.orderNewPSS1_2{color: #0f3f71;}
.orderNewPSS2{width:15%; }
.orderNewPSS3{width:10%;}
.orderNewPSS3_2{color: #0f3f71;}
.orderNewPSS4{width:17%;}
.orderNewPSS5{width:15%;}
.orderNewPSS6{width:15%;}
