
.pro_titr{width: 98%; margin: 0 1%;height: 36px;line-height: 35px;font-size: 16px; padding: 0 12px;float: right; text-align: right; background-color: #dfdfdf; border-radius: 3px;}
.pro_body{width: 98%; margin: 7px 1%;border:1px solid #e2e2e2;border-radius: 4px;float: right;text-align: right;}
/* دکمه بازگشت */
.btnBack{height: 32px;margin-top:2px; float: left;}
/* orderBuyOne.php */
.buyOneDivTitr,.buyOne2DivTitr{width:99%;height: 30px;line-height: 30px;margin: 2px 0.5%;padding: 0 20px;float: right;background-color: #047791;border-radius: 3px;color: #fff;}
.buyOne2DivTitr{background-color:#0b9bbb; }
.buyOnePrint{float: left;height: 25px;margin-top: 2.5px;line-height: 5px;}
.buyOneShopPost{width: 99%;margin: 2px 0.5%;float: right;}
.buyOneShopPost1,.buyOneShopPost2{width: 100%;padding:5px 0;float: right;font-size: 18px;text-align: center;border-bottom: 1px solid #3c3801;background-color: #716a08;color: #fff}
.buyOneShopPost2{border-bottom: none;padding: 10px 0 7px;background-color: #ccbf09;}
.buyOneShopPost2 span{ padding: 0 20px;border: 2px solid #0a3608;border-radius: 6px;color:#0b4009;background-color: #e5f014;}
.orderDiv{width: 49%;height: 45px; line-height: 45px;margin: 2px 0.5%;padding: 0 20px 0 0;float: right; background-color: #cfe1f1;}
.orderDiv2{width: 99%;margin: 2px 0.5%;padding: 0 20px 0 0;background-color: #cfe1f1;float: right;}
.orderDivZ0,.orderDivZ{width: 50%; float: right;}
.orderDivZ , .orderDivZ2{color: #04902e;}
.orderDivSpan{margin-right: 10px;font-family: sans-serif;}
