
.pro_titr{width: 98%; margin: 0 1%;height: 36px;line-height: 35px;font-size: 16px; padding: 0 12px;float: right; text-align: right; background-color: #dfdfdf; border-radius: 3px;}
.pro_body{width: 98%; margin: 7px 1%;border:1px solid #e2e2e2;border-radius: 4px;float: right;text-align: right;}
/* دکمه بازگشت */
.btnBack{height: 32px;margin-top:2px; float: left;}
/* orderBuyOne.php */
.orderLine{width:99%;margin: 25px 0.5%; float: right;border: 3px solid #032416; border-radius: 3px;}
.buyOneDivTitr,.buyOne2DivTitr{width:99%;height: 30px;line-height: 28px;margin: 2px 0.5%;padding: 0 20px;float: right;background-color: #047791;border-radius: 3px;color: #fff;}
.buyOne2DivTitr{background-color:#0b9bbb; }
.buyOnePrint{float: left;height: 25px;margin-top: 2.5px;line-height: 5px;}
.buyOneShopPost{width: 99%;margin: 2px 0.5%;float: right;}
.buyOneShopPost1,.buyOneShopPost2{width: 100%;padding:5px 0;float: right;font-size: 18px;text-align: center;border-bottom: 1px solid #3c3801;background-color: #716a08;color: #fff}
.buyOneShopPost2{border-bottom: none;padding: 10px 0 7px;background-color: #ccbf09;}
.buyOneShopPost2 span{ padding: 0 20px;border: 2px solid #0a3608;border-radius: 6px;color:#0b4009;background-color: #e5f014;}
.orderDiv{width: 49%;height: 45px; line-height: 45px;margin: 2px 0.5%;padding: 0 20px 0 0;float: right; background-color: #cfe1f1;}
.orderDiv2{width: 99%;margin: 2px 0.5%;padding: 0 20px 0 0;background-color: #cfe1f1;float: right;}
.orderDivZ0,.orderDivZ{width: 50%; float: right;}
.orderDivZ , .orderDivZ2{color: #04902e;}
.orderDivSpan{margin-right: 10px;font-family: sans-serif;}
.orderAghdam ,.orderAghdamP{width: 99%; margin: 12px 0.5% 25px;padding: 5px 100px;height: 55px;border: 1px solid #b6b6b6;border-radius: 3px;float: right;text-align: center;background-color: #f1f6dc;}
.orderAghdam button,.orderAghdamP button{font-size: 18px;}
.orderAghdamP{padding: 5px 20px;}
.orderAghdamP1 , .orderAghdamP2{width: 200px;}
.orderAghdamP1{margin-left:4px; }
.orderAghdamP2{margin-right: 4px;}
.orderAghdamModal2{height: 180px;color: #882e0d;font-size: 18px;}
.orderAghdamModal2 span{width: 70%;height: 50px;line-height: 27px;margin-top: 65px;display: inline-block;padding: 10px 0;border: 1px solid #882e0d; background-color:#ffcbb8;border-radius: 3px;}
.orderAghdamModal2 b{font-size: 22px;margin-left: 6px;}
.orderAghdamModal3{width: 100%;margin: 5px 0;float: right;}
.orderAghdamModal3 button{width: 105px;}
.codeOrder{height: 26px;margin: 2px 10px;padding: 0 10px;display: inline-block;border: 1px solid #a4a4a4;border-radius: 8px;background-color: #bff0f5;color: #616161;}
.codeOrder1{color: #051960;}
.codeOrder2{color: #2f0560;}
